[2014-11-03 18:08] mathamoz opened #1 "Support platform specific www directories"
This needs to support a platform specific www directory, like android/www or ios/www.

[2014-12-11 20:58] mathamoz opened #2 "DownloadManager warning on app store submission"
![screen shot 2014-12-11 at 2 55 11 pm](https://cloud.githubusercontent.com/assets/70219/5401981/1d292faa-8146-11e4-8d4f-f1749113bdc9.png)

[2015-04-20 13:44] #1 closed

[2015-04-24 13:00] rosterloh opened #3 "Android compile error"
[code]

Ionic-cli: 1.4.0-beta.6
Cordova: 5.0.0
Node: 0.12.2

[2015-04-24 13:22] rosterloh commented on #3
It seems they've add another parameter.
[code]
https://github.com/apache/cordova-android/blob/master/framework/src/org/apache/cordova/CordovaWebView.java

[2015-04-26 17:30] nikmartin commented on #3
More specifically, the implementation:https://github.com/apache/cordova-android/blob/0f73884c8d93d071aa763079825b576ca493bf96/framework/src/org/apache/cordova/CordovaWebViewImpl.java#L126

[2015-05-04 14:27] RangerRick opened #5 "Crash on Startup in Emulator"
When I run `ionic emulate -slc ios` after adding Ionic Deploy to my project, I get this crash: http://pastebin.com/Dy17L62W

I've tried an `ionic state reset` just to make sure my project was clean, but it still occurs.  The com.ionic.update plugin version is 0.0.5, the default after following the instructions on docs.ionic.io.

[2015-05-04 14:33] RangerRick commented on #5
Additional info: I noticed that while I had done an `ionic upload`, I had not actually gone to the deploy UI on apps.ionic.io to deploy it officially so there were 0 deployed versions of my app. However, even after doing so, it still crashes on me in the same place (CFURLCopyAbsoluteURL).

[2015-05-05 20:14] ericb commented on #3
With the latest merge the new deploy plugin is available via npm if you're on Cordova 5.x

[2015-05-05 20:14] #3 closed

[2015-05-06 19:03] m0rganic opened #6 "Updates do not persist on app restarts"
I'm testing out the deploy service using the  [ionic-starter-deploy](https://github.com/driftyco/ionic-starter-deploy) example.

The behavior I've observed on both iOS and Android is that the app is able to recognize, receive and apply the update from ionic deploy service *but* the update does not "stick" and after killing the app and restarting the original version is active again.

[code]

[2015-05-25 08:32] PaperMonster commented on #6
Cordova CLI: 4.3.0
Gulp version:  CLI version 3.8.10
Gulp local:   Local version 3.8.10
Ionic Version: 1.0.0-rc.3
Ionic CLI Version: 1.4.5
Ionic App Lib Version: 0.0.22
ios-deploy version: 1.4.0
ios-sim version: 3.1.1
OS: Mac OS X Yosemite
Node Version: v0.10.33
Xcode version: Xcode 6.3.1 Build version 6D1002

[2015-05-27 13:23] ericb commented on #5
@RangerRick The plugin has been updated quite a bit since this was opened. Can you verify if this is still an issue? I don't think it will be but i'll leave this open for now just in case.

[2015-05-27 13:26] ericb commented on #6
The latest version (0.1.5 as of writing this) should have resolved this issue. You'll need to update your ionic-service-core, ionic-service-deploy, and ionic-plugin-deploy to work correctly. You'll also need to test with newly uploaded versions once you update those components/plugins.

[2015-05-27 13:26] #6 closed

[2015-05-27 19:12] RangerRick commented on #5
I'm still seeing a crash in `ionic emulate` on startup with 0.1.5: https://gist.github.com/RangerRick/646963e65fedb7c9d187

I just did an "ionic state reset" and "bower install" just to make sure everything was up-to-date and it appears everything is as it should be.

[2015-05-28 18:14] ericb commented on #5
@RangerRick The plugin id has changed to com.ionic.deploy -- Do you still have the older com.ionic.update around? You can list the plugins with `ionic plugin list`

[2015-05-29 15:15] RangerRick commented on #5
Aha!  Yup, mine was still pointing at com.ionic.update instead.  Looks like that fixed it.  Now to figure out how to upload my minified code rather than the raw www directory when I do `ionic upload`.  :)

[2015-05-29 15:15] #5 closed

[2015-06-15 15:24] arieljake opened #11 "Make app id available to client for display in app"
For debugging purposes, it would be handy to receive the metadata about the version of the app that has been deployed, most specifically the ID, so that it can be displayed in an About dialog.

[2015-06-17 15:11] eweap opened #12 "App crash when extracting archive"
When deploying some updates, the deploy service download and start extracting the archive then the app crash with error:

[code]

Reinstall the app and clear cache through Settings/Applications, doesn't help.
The crash happen on Android 5.1.1, I didn't test on iOS for the moment.

There is my informations:
[code]

Any idea ? Thanks by advance !

[2015-06-18 08:30] eweap commented on #12
I made a gist with my logcat: https://gist.github.com/eweap/e81bba67611542069d8a

[2015-06-18 10:39] enricodeleo opened #13 "Build fail on iOS"
Hi!
I'd really like to use ionic services instead of build my own "hot deploy" service, but I'm having a pain building the app for iOS.
When I install this plugin I get duplicate symbol errors. like `duplicate symbol _OBJC_IVAR_$_SSZipArchive._path` (I can past the entire log if needed).
I think it could be caused by the cordova-plugin-zip plugin, is there any way to solve?

Thank you!

[2015-06-18 13:30] ghaiat opened #14 "Plugin crashes when opening the app in offline mode"
Hello, when opening my app in offline mode (no internet connection), the plugin crashes and my app automatically crashes.
here is a screenshot of xcode

https://www.dropbox.com/s/4swrq5lee7tlk8t/Screenshot%202015-06-18%2014.27.08.png?dl=0

[2015-06-18 15:57] gaguirre commented on #12
+1

[2015-06-21 13:52] wgjtyu commented on #12
at line 890

I/IONIC.DEPLOY.UNZIP_STEP(32672): Exception: /data/data/com.alhena.planetagger/app_339070a214f611e5ae823e00dba088b8/css/main.css: open failed: ENOTDIR (Not a directory)

it is because `css` folder was not created

[2015-06-21 17:36] crazystars commented on #12
There is a problem with the unzip function.
During the while in line 429  there is no check if the entry is a dir or not.
i' put in a simple if else
just look at https://gist.github.com/crazystars/9fb26ca1966e6db24317
it is working for me now

[2015-06-22 12:21] eweap commented on #12
@crazystars Thanks man ! It's working like a charm !

[2015-06-22 21:31] affinionmobile commented on #12
Your pull request fixed my issue on Android. Deploy works now.

[2015-06-23 20:21] sean-hill opened #16 "Allow control of load / redirect on rollback"
When you check for updates and the update is a rollback, it just bypasses the download / extraction because it's cached, and AUTOMATICALLY loads without any control from the codebase. I'd rather be able to call `$ionicDeploy.load()` myself and not have the plugin do it for me when the update is a rollback. Thanks!

[2015-07-02 12:16] ericb commented on #12
Hey guys, this explanation might seem a bit confusing but here goes:

This is actually an issue with Ionic CLI 1.5.1. When you run ionic upload, we generate and upload a zip file -- this is what the plugin eventually downloads. In 1.5.1 an upgrade to the node archiver was included. Sparing all the details, it produces a semi-borked version of the zip that Android's ZipInputStream fails on.

We cur

[2015-07-02 13:00] eweap commented on #12
@ericb Great, the `ionic@beta` fix the problem ! Thanks man (and Ionic team) :)

[2015-07-02 13:00] #12 closed

[2015-07-02 18:42] markpeace opened #18 "64-Bit Architecture Error in Phonegap Build"
When trying to use the plugin with phonegap build, am receiving the following error:

Error - A plugin in your app does not support the compulsory arm64 (64-bit support) architecture. - You can fix this here

[2015-07-02 18:45] markpeace commented on #18
Maybe connected to this issue (with suggested workaround):
http://community.phonegap.com/nitobi/topics/ios-plugin-fails-to-build-on-phonegap-build-works-fine-locally

[2015-07-04 11:30] berlinhudson opened #19 "java.lang.NoClassDefFoundError: java.nio.charset.StandardCharsets"
Hi guys,

when I compile with the plugin version 0.2.1 for my Nexus 7 with Android 5.1 all is working well.
When I compile for older Samsung with Android 4.2.2 the app crashes and I get that message:

E/AndroidRuntime﹕ FATAL EXCEPTION: pool-1-thread-2
    java.lang.NoClassDefFoundError: java.nio.charset.StandardCharsets
            at com.ionic.deploy.IonicDeploy.postDeviceDetails(IonicDeploy.java

[2015-07-06 01:31] alex3016 opened #20 "Android Exception"
When I tried ionic deploy on my Android phone, I encountered a exception. I think the the unzip function(around line 500) may have problem, the output file may not be created properly.

[2015-07-06 01:47] #20 closed

[2015-07-07 19:40] PaperMonster opened #21 "Updates do not persist on app restarts on iOS"
The issue is very similar to #6 but occurs to iOS only. Tested with [ionic-starter-deploy](https://github.com/driftyco/ionic-starter-deploy) example (already updated CLI, libraries, and Deploy plugin).

[code]

[code]

[2015-07-07 19:59] PaperMonster commented on #19
It is obviously a problem since your min SDK is 15 while the plugin uses a class from API 19. My temporary fix is changing line 387 in IonicDeploy.java to `byte[] postData = params.getBytes("UTF-8" );` which avoid using such class.

[2015-07-08 22:40] sbull commented on #21
I'm experiencing this as well, same versions. My experience is that when a new version is deployed, my iOS app does $ionicDeploy.update() to completion (download, extract, redirect) and runs the new version that one time, but there's some disconnect in how the app starts again after it's been killed. It seems to think that it is running the newest version ($ionicDeploy.check(), $ionicDeploy.update

[2015-07-10 01:18] Deminetix opened #22 "app.ionic.io does not allow you to 'unset' equivalent versions"
Steps to produce:

- On `app.ionic.io` enter equivalent values for a version and, hit save
- values are updated
- edit version again and clear inputs of equivalent values, hit save
- request sends empty strings instead of null, and the response hasn't removed the original values

I copied the cURL request and tried using null instead of empty strings but that didn't fix it either. I assume it is a

[2015-07-10 01:28] Deminetix commented on #21
+1 having this issue as well

Cordova CLI: 5.1.1
Gulp version:  CLI version 3.8.11
Gulp local:   Local version 3.9.0
Ionic CLI Version: 1.6.1
Ionic App Lib Version: 0.3.3
ios-deploy version: 1.7.0
ios-sim version: 4.1.1
OS: Mac OS X Yosemite
Node Version: v0.12.4
Xcode version: Xcode 6.4 Build version 6E35b

[2015-07-10 08:08] Deminetix commented on #21
I've been debugging IonicDeploy.m (iOS) for hours now, it's a bit of a mess. From what I've found it looks like it unsets the uuid pref too early. Here's my logs....

[code]

So after install it does the redirect correctly, but....

When you cold start the app (cmd+r to re-run in xcode) it:
- doesn't hit the inner redirect method
- uuid looks to be undefined

[2015-07-10 13:32] m0rganic commented on #21
@deminetix haven't confirmed but this is a really nice break down

[2015-07-13 12:46] ericb commented on #21
@Deminetix This is intended functionality. @PaperMonster and @sbull, I assume you are both having the same issue, so I will try to give you guys and overview of what's actually happening (this was a recent change with the channel updates).

First let me setup the problem: While developing your app, you want to make changes, and test them out. When you implement deploy that causes a bit of a proble

[2015-07-13 13:00] ericb commented on #22
Confirmed. I'll get this fixed up. Thanks @Deminetix

[2015-07-13 13:04] ericb commented on #14
I will get this cleaned up. Thanks @ghaiat

[2015-07-13 17:24] sbull commented on #21
Hi @ericb, I don't think what you're describing is my problem. In my particular workflow, I don't even use xcode at all - I don't even have a Mac. But I do have an iPhone (4S, iOS 7.1.2).

I build apps using Phonegap Build, and I can install that version on my phone with the URL they provide (development certificates / provisioning).

So I make an app with the ionic-plugin-deploy plugin and code i

[2015-07-13 20:40] ericb commented on #21
@sbull What version of the plugin / service lib are you using? Older versions of the plugin / service lib had a problem where they did not stick ever. Can you give the output of `bower list` and `ionic plugin list`

[2015-07-13 20:58] sbull commented on #21
[code]

`ionic plugin list` isn't useful for me, as in my workflow I don't need to install plugins locally - they're bundled by Phonegap Build. Here's what plugins are specified in my `config.xml` for Phonegap Build:
[code]

[2015-07-13 22:16] Deminetix commented on #21
I have the same problem as @sbull - force quitting the app does the same thing. Here is my deets:

glow-app#0.0.0
├─┬ angular-animate#1.3.13 (1.3.18-build.130+sha.215be0b available, latest is 1.4.3-build.4096+sha.4cef752)
│ └── angular#1.3.13 (latest is 1.4.3-build.4096+sha.4cef752)
├─┬ angular-elastic#2.4.2
├─┬ angular-messages#1.3.5 (latest is 1.4.3-build.4096+sha.4cef752)
├─┬ angular-sanitize#1

[2015-07-13 22:18] Deminetix commented on #21
Tested on an iPhone 5 running ios 8.3

[2015-07-14 04:44] PaperMonster commented on #21
@ericb Thanks for the explanation. Correct me if I'm wrong, the app should revert to the binary version when **rebuild the application** (i.e. `Cmd+R` in Xcode or `ionic run android`) in order to see the latest changes while developing. In production, on the other hand, once the user update to a deployed version, the update would survive **app restarts** (i.e. swiping app off the multitask screen)

[2015-07-14 06:43] Deminetix commented on #21
@ericb brings up a good point about channels. Is the logic that reverts to the binary version on restarts maybe based on what channel you use?

[2015-07-14 07:25] PaperMonster commented on #21
I haven't set any channel yet, which means I'm on production channel by default. So restarts shouldn't ignore the update right?

[2015-07-14 10:18] Deminetix commented on #21
Yep, so this is definitely a bug

[2015-07-14 12:15] #14 closed

[2015-07-14 12:15] #19 closed

[2015-07-14 12:21] ericb commented on #21
@PaperMonster @Deminetix @sbull So it appears this is isolated to iOS? I'll look into this more today, but in the meantime can you guys verify you're actually running the correct components (the versions you have all listed are correct, but if you're using xcode, the platform directory isn't updated with the correct components until you remove/readd the platform or run `ionic prepare ios`.

[2015-07-14 12:55] Deminetix commented on #21
Confirming. We just moved to an `Ionic state reset` flow that allows us to omit the plugins/platforms from our repo. Anytime something looks flaky we run reset again just to make sure. Also, all commands to build and run are cli-only using ionic, no xcode

[2015-07-14 12:57] PaperMonster commented on #21
After remove/readd iOS platform, I confirm this (I use Xcode). I can give you the project source code if you want.

[2015-07-14 13:10] ericb commented on #21
Great, thanks for the feedback guys. I'll post an update on what I find sometime today.

[2015-07-14 15:50] #2 closed

[2015-07-14 17:52] ericb commented on #21
Tracked down the issue, I'll be pushing an update this afternoon that will patch things up + include some new functionality.

[2015-07-14 18:19] #11 closed

[2015-07-14 18:24] ericb commented on #11
With the latest ionic-service-deploy and ionic-plugin-deploy you can run:

[code]

Should return something such as:

[code]

[2015-07-14 18:27] ericb commented on #21
@PaperMonster @Deminetix @sbull This should now be resolved once the plugin and service libs have been updated. You'll need the latest plugin version (0.2.3) and due to another update, possibly the latest version of the deploy service library (0.1.1)

[2015-07-14 18:27] #21 closed

[2015-07-14 22:44] Deminetix opened #23 "Production usage"
The docs say alpha but what are the risks of using this in production?

[2015-07-16 13:12] ericb commented on #23
Lots. We could introduce breaking changes at any point during the alpha (we try not to do this, but if it's deemed necessary to provide a better experience, we absolutely will). Also, we don't make any substantial claims for stability during the alpha so you could experience random quirks or bugs that break your deploys.

[2015-07-16 13:12] #23 closed

[2015-07-16 15:17] #22 closed

[2015-07-16 16:51] sbull opened #24 "Feature request: default `ionic upload` --note to `git log --oneline -1`"
Just a thought, which would useful to me (and presumably others...)

Could you use `git log --oneline -1` as the default `--note` value for `ionic upload`? (in cases where git it present, ...).

I was originally considering requesting that you support a git repo endpoint for deploys, so that I could do `git push ionic master`, but that wouldn't actually help me as I do some pre-processing from the

[2015-07-19 17:36] leonsas opened #25 ".info() not working on device"
Using the following code to capture `$ionicDeploy.info()`:

[code]

When I try on the browser, I get an error, as expected (since Deploy is only active on devices): `IonicDeploy err: IonicDeploy plugin not loaded`, but when that runs on a device, nothing gets logged. Currently using  plugin version 0.2.3, and the service v0.1.1.

This is on iOS.

Thoughts?

Somehow it works now. Removing and re-ad

[2015-07-19 21:23] #25 closed

[2015-07-23 17:59] jbthoma opened #26 "Update to latest version on PhoneGap Build"
Right now the only version available is 0.1.6.  Please add the latest version (0.2.3 currently).

https://build.phonegap.com/plugins/3426

Thanks!

[2015-07-24 22:41] PaperMonster opened #27 "App unable to start after putting app to the background during download on iOS"
Putting the app to the background state while downloading the update seems to end the update process incompletely, making consequent launches fail as it tries to redirect to non-existing deploy version.

Steps to reproduce:
1) Start the update
2) At any point before the download progress reaches 100%, press power button once to put device to sleep.
3) Wake the device. The log will say download is

[2015-08-09 05:10] antonyfrance opened #29 "error after : ionic plugin add https://github.com/driftyco/ionic-plugins-deploy"
Hi,

i try to do : Deploy From Scratch. but unfortunately, I have found this problem :

Updated the hooks directory to have execute permissions
Fetching plugin "https://github.com/driftyco/ionic-plugins-deploy" via git clone
Saving plugin to package.json file
Error happened { [Error: Cannot find module 'C:\Users\MAREUIL\ionic\test_MAJ_app\deploy-tutorial\plu
gins\fetch.json'] code: 'MODULE_NOT_FOU

[2015-08-10 12:58] ericb commented on #29
Are you able to install other plugins, or are you only getting the error on this specific plugin?

[2015-08-11 06:43] antonyfrance commented on #29
Hi,

I have this only  for this specific plugin.

but i have not upgraded  cordova to 5.X
http://docs.ionic.io/docs/deploy-install
....

Regards

Le 10/08/2015 14:58, Eric Bobbitt a écrit :

[2015-08-11 13:13] jbthoma commented on #26
Nevermind, I see that the latest is available on npm.

[2015-08-11 13:13] #26 closed

[2015-08-19 08:38] spidercpsf commented on #27
I have same problem and it was solved in https://github.com/driftyco/ionic-plugin-deploy/pull/30

[2015-08-20 12:43] ericb commented on #29
@antonyfrance Has this been resolved?

[2015-08-26 13:27] violet7 opened #31 "NSNumber in Objective C"
please fix NSNumber compare in IonicDeploy.m

[2015-08-26 13:48] ericb commented on #31
@violet7 Could you provide a little more context?

[2015-08-26 14:25] violet7 commented on #31
For example: ionic-plugin-deploy-master/src/ios/IonicDeploy.m line 134
if (compatible != [NSNumber numberWithBool:YES]) addr compare?

[2015-08-27 14:34] ericb commented on #31
@violet7 I'm not sure what you're expecting to change there. XCode shows no warnings or errors there. As far as I can tell it's a valid comparison.

[2015-08-27 14:34] #31 closed

[2015-09-04 22:20] tmandry opened #32 "Crash on iOS when IO config is missing"
Just got it set up and it crashes when checking. There are 0 updates for this app.

[code]

[2015-09-04 22:47] tmandry commented on #32
I had forgotten to run `ionic io init`. Leaving this open as this error should probably be handled.

[2015-09-08 12:46] ericb commented on #32
Yeah, we can provide an error message in this case. Thanks @tmandry

[2015-09-21 03:35] ajenkul opened #33 "update() function not work, nothing happen with the callback function."
Hi,
I have integrated success full the deploy plugin, it can check whether the new update is available or not.
But when I execute the update function to download the update, nothing was callback. I have tried to print out in the console but nothing return.
[code]
My app size is : ~200MB, is this plugin depend on the app size?
Because I've tried with simple app, it works fine.

[2015-09-21 12:44] ericb commented on #33
@ajenkul This might be a mismatch between your deploy plugin and service module. If you have the latest of both installed, try removing and adding the platform again.

[2015-09-21 13:05] ajenkul commented on #33
@ericb Thanks you. I'll give it a try and let you know later.

[2015-09-22 15:30] ajenkul commented on #33
@ericb I have tried it, in one same app. I deployed starter app first, then I copy all of my codes into that project, deploy again. If I set current app in https://apps.ionic.io/app/100faffe/deploy is the first deploy (starter), it works fine. But I change it to the new deploy, it won't work. I think it depend on the size of app. After copy all the database (~200mb) into `www` folder then upload i

[2015-09-23 18:33] afallou commented on #33
I have the same thing happening, but only on iOS -just to be sure I did `ionic platform remove ios` and `ionic platform add ios`. My code is simply:
[code]
On Android I get the update progress correctly logged in the console, then the app restarts.
On iOS, I only get `Download complete (ionic-deploy.js:269)` logged to the console, then nothing.

[2015-09-23 18:51] afallou commented on #33
Ok, so to double-check  I also did `ionic platform remove android` and `ionic platform add android` and now both are broken. So now I have to figure out what changed there

[2015-09-23 19:05] afallou commented on #33
Just to be precise: here's the ouput for
`bower list`
[code]

And `cordova list`:
[code]

[2015-09-23 22:48] afallou commented on #33
Got a bit further:
The plugin seems to work to some extent, since I get logs from it
In Android monitor, I get:
[code]
And then no further log message from Ionic

[2015-09-24 03:24] ajenkul commented on #33
@ericb I've give it a try but it has same issue. I deleted all my sqlite file in `www` folder. So the app size reduce from 200mb to 10mb. Run `ionic upload` again and deploy it. It works fine. But with 200mb app size no more log message.
@afallou Did you try with sample app before?

[2015-10-05 18:55] #29 closed

[2015-10-06 08:29] jakubrohleder commented on #33
@afallou @ajenkul I have the same issue as you did, have you found a solution? Can you provide me with some help? (like packages versions or sample app)

I'm trying to make the sample ionic [deploy app work](http://docs.ionic.io/docs/deploy-from-scratch).

[2015-10-08 12:53] ericb commented on #32
I was unable to reproduce this. Perhaps this was an issue with the older ionic-service-deploy client.

[2015-10-08 12:53] #32 closed

[2015-10-09 01:51] benVigie commented on #33
Same issue on my side. I switched to the new Ionic.io feature and now the deploy service doesn't work anymore on my ios `9.0.2` device.

I have traces from the ionic.io service for `check()` and `download()`, but as soon as I use `extract()` nothing happens. The *success*, *failure* and *progress* callback are never raised.

More of that, the app is broken after the `extract()` call. If I kill and

[2015-10-09 02:06] robksawyer commented on #33
Getting the white screen of death on `9.0.2` as well. Here's what I see in the Xcode console log.
[code]

[2015-10-09 13:26] rkistner opened #34 "Issues after native application update on iOS"
When updating the native application on iOS, Ionic Deploy is not consistent in how it handles previously downloaded updates.

1. Install native application version 1.0.
2. Download update 1.1 via Ionic Deploy.
3. Install native application update 1.2.
4. On first start, Ionic Deploy detects the application update, and sets `self.ignore_deploy = true`. `uuid: ""`, `ignore_deploy: true`, `ignore_ver

[2015-10-09 13:59] ericb commented on #34
What callback are you referring to for the first issue?
As for the 2nd, it shouldn't ever download the update again if it's already on the device.

[2015-10-09 14:08] rkistner commented on #34
For the first issue, I'm triggering the updates from JavaScript (not using the watch function), with something like this:

[code]

I did not confirm at which promise in that chain it is stuck, but I assume it's the `$ionicDeploy.check()` one.

For the second issue, I can confirm that it is never downloading the update again. The problem is that switching from the new bundled app (HTML/JS bundled w

[2015-10-09 14:58] ericb commented on #34
I'm still unclear as to what you mean by the 2nd issue, but for the first, I think your issue may be more related to the way you're returning a promise overall.

As a side note, are you using the [ionic-platform-web-client](https://github.com/driftyco/ionic-platform-web-client) or are still on the deprecated [ionic-service-push-client](https://github.com/driftyco/ionic-service-push-client)?

[2015-10-09 15:00] rkistner commented on #34
I can get a different but related issue as follows:

1. Install native app from scratch, let's call it 1.0.
2. Deploy 1.1 via ionic deploy, and update to this version.
3. Deploy 1.2 via ionic deploy, and update to this version. No issue so far.
4. Revert to 1.1, either via "roll back to here" or by switch to a channel with the older version. Ionic switches to this older version, but since it doesn

[2015-10-09 15:25] rkistner commented on #34
I'm still using the deprecated ionic-service-deploy. However, the cause of the first issue is definitely in the native part of `ionic-plugin-deploy`, not in the JavaScript service. The native `download` method never does a `sendPluginResult` call after reaching this point: https://github.com/driftyco/ionic-plugin-deploy/blob/master/src/ios/IonicDeploy.m#L189

For the second issue, see my last comm

[2015-10-09 15:47] ericb commented on #34
Ok, thanks for the info @rkistner . I'm currently working on some other deploy updates so I'll look into this more closely next week and provide an update.

[2015-10-09 16:29] conor-mac-aoidh commented on #13
+1 I've noticed this issue also. And my application requires cordova-plugin-zip, which means I can't use ionic-plugin-deploy for the moment.

[2015-10-12 07:55] rkistner commented on #34
Thanks, looking forward to the updates.

[2015-10-15 19:39] ericb commented on #34
@rkistner I'll be releasing an update to deploy shortly that should at least address *some*, if not all, of the issues you brought up. However you'll need to update to the new ionic-platform-web-client in order to correctly test.

[2015-10-15 20:03] #27 closed

[2015-10-15 20:03] #34 closed

[2015-10-15 20:05] #16 closed

[2015-10-16 07:29] rkistner commented on #34
Thanks! I'll test soon.

[2015-10-20 04:42] grapemix opened #36 "check() function not work, only returning Ionic Deploy: no updates available"
Hi,

First of all, I think this feature is awesome and I would really like to use this feature. Thanks for your work.

I am following the tutorial in http://docs.ionic.io/docs/deploy-install, but I cannot make the deployment work. Ideally, my app can check for update at every startup and update the app if new version is available. So besides of the button example in the tutorial, I also try the fo

[2015-10-20 12:51] ericb commented on #36
Something is amiss. `getVersions` should return an array, not an object. The response you got was something you get from `info`. I would suggest removing and adding the platform again, and also, make sure that you have the latest version of the ionic-platform-web-client as well as this plugin.

[2015-10-20 13:47] rkistner commented on #34
@ericb I can confirm that this solves the most important issues I had. I ran into two more issues, but I'll open separate issues for them.

[2015-10-20 14:25] rkistner opened #37 "Reverts to bundled app if extract fails (iOS)"
To simplify the example, say I have an Ionic application that is bundled with version 1.0 of my app. Version 1.1 was already downloaded via Ionic Deploy, and is the currently active version on the device. Version 1.2 was just released via Ionic Deploy.

Now if update 1.2 is **downloaded, but not extracted**, the update `uuid` is saved, but `ionicdeploy_version_label` not. On the next boot, it dete

[2015-10-22 21:51] michael-may commented on #37
This sounds similar to an issue we are seeing, except the update appears to download and extract successfully (all changes are reflected).

Once the user opens the app a second time, it has reverted to the bundled version.

Once the user opens the app a third time, they are prompted to do an update which completes immediately.

After this point the update sticks until the next version is pushed an

[2015-10-23 08:21] rkistner commented on #37
@michael-may Are you using version 0.4.0 of the plugin? I had some issues like that which were solved when upgrading from 0.3.0 to 0.4.0.

[2015-10-23 13:17] michael-may commented on #37
@rkistner
Looks to be:
0.4.0 of ionic-plugin-deploy
0.2.0 of ionic-platform-web-client

[2015-10-23 13:21] rkistner commented on #37
@michael-may I've also experienced issues similar to what you describe now, basically making ionic-deploy unusable :( Haven't done detailed checks into what exactly the issue is yet.

[2015-10-23 13:25] michael-may commented on #37
@rkistner
The weird thing is that it only appears to be happening in iOS. Android handles it just fine. I'll see if I can dig into the logs and find something that might point us somewhere.

[2015-10-28 02:46] marnoldpalmer1 opened #38 "Deploy Ignored"
Having issues getting Deploy up and running on my project on IOS. In Xcode output window, I get this series of outputs:

2015-10-27 22:37:42.503 App[14834:4704599] VERSION LABEL: 0.0.1:1445999841:
2015-10-27 22:37:42.503 App[14834:4704599] updating version label

Which then leads to these outputs:

2015-10-27 22:37:43.229 App[14834:4704599] uuid is:
2015-10-27 22:37:43.230 App[14834:4704599] ignor

[2015-10-28 17:12] ericb commented on #38
when you install an app on the device or emulator, deploy will ignore the current deploy uuid (if there is one) -- this prevents your development updates from being shown unless you do a deploy on every change.

[2015-10-28 17:12] #38 closed

[2015-10-29 13:08] jskrzypek commented on #37
@rkistner @michael-may

We are seeing an issue with a very similar pattern, and we think might stem from the same bug. Currently if you look at @michael-may 's logs above, you see that there's only one place where the line "updating version label" is being logged, which is coming from [`IonicDeploy.m:76`](https://github.com/driftyco/ionic-plugin-deploy/blob/master/src/ios/IonicDeploy.m#L76).

I th

[2015-10-29 15:09] jskrzypek commented on #37
Also this looks like the same behavior as #21

[2015-10-29 15:36] michael-may commented on #37
@jskrzypek
Looks like this change did the trick in our project as well.

[2015-10-29 15:38] jskrzypek commented on #37
nice! I'm submitting a PR now

[2015-10-29 15:51] xlozinguez commented on #37
:+1: that fixes it for us too

[2015-10-30 01:17] MattArnold93 commented on #38
Can you explain what you mean by a deploy on every change? Do you mean that it will ignore deploy unless there is a deploy available?

[2015-11-02 13:05] #37 closed

[2015-11-02 13:09] #36 closed

[2015-11-02 13:10] ericb commented on #37
Thanks for the PR @jskrzypek

[2015-11-02 22:43] soforeal opened #40 "Update works in Xcode simulator…not on real device."
Hi! I’m loving this plugin and service! I’m having an issue where the iOS simulator will properly download, extract, and install the latest updates to my app. However I’m finding that I am not able to get the final updating part to work on my actual iPhone running the same app with the same OS.

My phone’s debug log shows that the plugin will download and extract the latest update…but nothing else

[2015-11-02 22:53] soforeal commented on #40
Just realized,  it may help to see the logs!

**Log from iOS simulator:**

2015-11-02 14:29:38.858 InternationalOrange[41472:407561] Ionic Deploy: init
2015-11-02 14:29:38.881 InternationalOrange[41472:407561] isEnabled: false
2015-11-02 14:29:39.673 InternationalOrange[41472:407747] version is: 0.0.1
2015-11-02 14:29:39.673 InternationalOrange[41472:407747] uuid is:
2015-11-02 14:29:39.673 Intern

[2015-11-03 13:54] ericb commented on #40
From the logs, it look as though everything is working correctly. What problem are you actually running into?

[2015-11-03 16:19] soforeal commented on #40
Hi Eric,

The problem I'm running into is that every time I try to have the app update with deploy on my physical phone it will not update. However when I try to update the app using the iOS simulator running the same OS the update works perfectly.

The logs I attached are from both the simulator and of the iPhone. There doesn't seem to be much of a difference...which is why I'm confused that I'm

[2015-11-04 15:00] ericb commented on #40
Heh, well at least we're both confused by the same thing :)

According to the logs, your device redirects to the update just fine:

[code]

[2015-11-04 16:08] soforeal commented on #40
Yeah strange huh?

If it helps, on the phone the app does not restart to reflect the change. Is that something I can invoke manually in the code on completion of extraction? If even just to test?

Thanks!

Logan

Sent from my iPhone

[2015-11-04 17:34] ericb commented on #40
Yup, you can call the `load` method as shown in the [docs](http://docs.ionic.io/docs/deploy-usage#section-reloading-the-app).

[2015-11-04 23:00] soforeal commented on #40
Hey Eric,

So I tried manualy extracting and reloading and it doesnt seem to be working.

When I run this code:

var deploy = new Ionic.Deploy();
deploy.extract().then(function() {
  deploy.load();
}, function(error) {
  // called when an error occurs
}, function(deployExtractionProgress) {
  // this is a progress callback, so it will be called a lot
  // deployExtractionProgress will be an Intege

[2015-11-05 12:53] ericb commented on #40
Are you using iOS9 on the device?

[2015-11-05 16:34] soforeal commented on #40
Yes, I'm using ios9. I also made sure to set the app transport security features as the docs explain.

Sent from my iPhone

[2015-11-06 18:21] piotrowski opened #41 "Plugin says "no update" although http request says "update available""
Sometimes I encounter the following situation (on Android).

From my console:

    Ionic Deploy: Update available: false

While this is the response of the http request:

    {
	    "compatible_binary": true,
	    "update_available": true,
	    "update": {
		    "uuid": "7f26bf4c84...6bc59ebac",
		    "url": "https://ionic-apps.s3.amazonaws.com/99aYo1T...2c7qiS%2BbOY6U%3D&Expires=1446...05&AWSAcce

[2015-11-08 02:12] piotrowski opened #42 "IonicDeploy.java uses package name com.ionic.deploy"
... should probably be "io.ionic.deploy".

[2015-11-09 14:27] ericb commented on #42
Yup, you're 100% correct. We'll get that cleaned up.

[2015-11-09 14:30] ericb commented on #41
We ignore deploys that are actively on a device when you install the app on your device (this prevents you from having to constantly deploy to see your changes in development -- otherwise you would make changes, but would continue to only see the last active deploy on the device)

[2015-11-09 14:30] #41 closed

[2015-11-09 14:35] piotrowski commented on #41
Totally makes sense, thanks.

Couldn't this be indicated via a console.log to make this transparent?
Then we could really understand what is happening and be sure that nothing is going wrong (and don't even have to look at the http response body to check.)

[2015-11-10 08:12] siddiq opened #43 "ionic plugin add ionic-plugin-deploy fails"
As documented here: http://docs.ionic.io/docs/deploy-install
The following command fails.

    $ ionic plugin add ionic-plugin-deploy

    Native thread-sleep not available.
    This will result in much slower performance, but it will still work.
    You should re-install spawn-sync or upgrade to the lastest version of node if possible.
    Check /home/siddiq/.local/lib/node_modules/ionic/node_mod

[2015-11-10 15:08] ericb commented on #43
This looks like an issue with something on your machine or network. That, or perhaps you've got some local permissions issues / outdated npm install.

[2015-11-10 15:14] siddiq commented on #43
$ npm --version
    2.13.4

So I installed from github url directly.

    $ ionic plugin add https://github.com/driftyco/ionic-plugin-deploy.git

[2015-11-12 11:57] stellasoft-will opened #45 "App crashing when extracting the zip"
I/IONIC.DEPLOY.EXTRACT(16376): Extracting update
I/IONIC.DEPLOY.UNZIP(16376): 1d172e0a893211e59ceb82f519894c00
I/IONIC.DEPLOY.HASVER(16376): Checking 1d172e0a893211e59ceb82f519894c00...
I/IONIC.DEPLOY.HASVER(16376): 5988b63087b911e5adae6ea7746e6e01 == 1d172e0a893211e59ceb82f519894c00
I/IONIC.DEPLOY.HASVER(16376): 6536a4f0892c11e5bec9364d093b8832 == 1d172e0a893211e59ceb82f519894c00
I/IONIC.DEPLOY.H

[2015-11-12 12:00] stellasoft-will commented on #45
looks like ths issue is with extracting the css file, ps subbed in com.example.test, also running on ionic cli alpha 2.0.0-alpha.18

[2015-11-19 02:31] piotrowski opened #46 "Feature Request: Cancel Update"
It would be great if you could (try to) cancel a running download or extraction. Right now this just continues in the background and there is no way to stop it. Even though the user can continue to use the app, at some point the update will be executed and the app will reload to the new state.

Related forum thread:
http://forum.ionicframework.com/t/ionic-deploy-how-to-cancel-download-in-progress/

[2015-11-19 02:34] piotrowski opened #47 "How to get metadata for available update?"
I see there is 'getMetadata()' that expects a uuid of the deploy you want to get the metadata for. But how can I get this uuid for the next available update?

I want to show changelogs and other metadata to the user before he updates, and this seems like it was intended for this usecase, but I can't seem to connect the dots :/

[2015-11-19 13:30] ericb commented on #47
Yea that was definitely one of the use cases. If you don't supply a uuid it will use the "last known available update". So maybe to put that more simply, you can do a `check()` and if that returns that there is an update, you can then follow up with a `getMetadata()` call without passing a uuid. This will give you the metadata for the pending update.

[2015-11-19 13:30] #47 closed

[2015-11-19 14:17] piotrowski commented on #47
Yes, that works. Thank you.

This should probably be included more clearly in the docs, just now saw that it is already mentioned in the comments of http://docs.ionic.io/docs/deploy-usage#section-metadata

[2015-11-19 14:23] ericb commented on #47
Agreed. I'll make a better note of it now.

[2015-11-23 09:58] jwbuitenhuis opened #48 "iOS status bar overlaps Ionic app after deploy update"
I'm developing an Ionic 2 app, and I've used Ionic Deploy to dynamically update. The update works, but after the update the app doesn't leave space for the status bar. Before updating:

![image](https://cloud.githubusercontent.com/assets/2378530/11333805/5730150e-91c8-11e5-8128-c45d01cee841.png)

After:
![image](https://cloud.githubusercontent.com/assets/2378530/11333843/958e6bfc-91c8-11e5-96e0-0c

[2015-11-23 13:12] ericb commented on #48
This would be something in your app code, missing files, or maybe even a include path issue. Deploy just facilitates loading up a new app directory. You may also want to check that you don't have any javascript styling/positioning happening before all the elements have been dumped.

[2015-11-23 13:12] #48 closed

[2015-11-27 11:56] jwbuitenhuis commented on #48
Thanks for responding.

It looks like after loading an update, the class "platform-cordova" is missing from the html body tag.

If I add this to my app constructor the layout looks fine:
    if (document.body.className.indexOf('platform-cordova') === -1)
        document.body.className = document.body.className + " platform-cordova";

I'm not doing any styling/include that would logically influenc

[2015-12-02 16:17] piotrowski opened #49 "Binary 0.2.4 says update available although last deploy is binary equivalent 0.2.3"
I have a deploy that is marked "iOS Binary Version - equivalent" to "0.2.3" on apps.ionic.io. Now I built a new version "0.2.4" in Xcode. Running this version in the simulator and also on a real device Ionic Deploy tells me that an update is available (the "0.2.3" that is currently deployed) and I can update to it.

Wouldn't it make sense to add this as an additional check: "if binary equivalent i

[2015-12-09 11:10] abhinavgujjar commented on #33
This was happening for me as well. I solved it by uploading the latest to ionic and deploying it. I think it was because ionic was not allowing rollback from a version that was unkown to it. Definitely a bug and spent a day figuring this out, but can only identify the symptom, not the cause

[2015-12-30 19:10] #18 closed

[2015-12-30 19:10] #24 closed

[2016-01-22 16:13] ace68723 opened #51 "Getting more done in GitHub with ZenHub"
Hola! @ace68723 has created a [ZenHub](http://www.zenhub.io) account for the **driftyco** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboarding)** and log in with your GitHub account. O

[2016-01-25 14:15] #51 closed

[2016-02-11 13:53] yossi-shasho opened #52 ""unable to check for updates" in version 0.4.1"
After upgrading from 0.3.0 to 0.4.1, the feature seems broken.
I have also updated `ionic-platform-web-client` to the latest.

Here's the log dump:
[code]

[2016-02-12 12:58] ericb commented on #52
0.4.1 has been out for months, so I think it's more likely that there is something misconfigured in your app. Are you sure you're not being blocked by something like iOS Security Transport Protocol?

[2016-02-29 22:16] arashb31 opened #53 "Android Hardware Back Button stops working"
When updating to a new version from Ionic Deploy, the hardware back button doesn't seem to work anymore for navigating.

This issue happens on Nexus devices (Nexus 4,5,6, 6P) running latest available Android versions for them.

The hardware back button continues to work for Cordova plugins like the InAppBrowser, for example.

[2016-03-04 00:49] Pulstarter opened #54 "Deploy changes non permanent on IOS"
Hi!

I have an issue with the deploy plugin. I am able to download and install the update via deploy, but when I kill the app and restart it, the version was the previous to the update and never updates again. I am installing the app on a device (IOS 9.2.1) with Xcode. I have tested it on simulator with 9.2 and 8.4 and the behaviour is the same. I haven't tested on Android.

Here is some info:

$

[2016-03-04 13:28] ericb commented on #54
Can you use the `info` method to verify the uuid of the deploy is correct?

[2016-03-04 14:54] Pulstarter commented on #54
Hi!

The info method returns an [object Object] that I don't know how to retrieve the data. Can you please tell me which info do you need?

Here I have some more info:

The base version is 0.2.3, and I want to update to 0.2.4. The app updates ok, but always start with this string:

`VERSION LABEL: 0.2.3:1457101836:d5ee03b2e21611e5898e52a81a3c292d`

I have this logs too:

[code]

The version line n

[2016-03-05 15:40] Pulstarter commented on #54
Hi!

If I call load() method the deploy works as expected, but I found that sometimes this freezes the app. I put it into a timeout function with 100ms and it works fine now.

Do this have to work without the load method?

Regards,
Iker

[2016-03-05 22:59] Pulstarter commented on #54
I finally found that the freeze problem is related with cordova 4.0.1 and IOS. The 4.1.0 version fixes the problem:

[Cordova 4.1.0](http://cordova.apache.org/announcements/2016/03/02/ios-4.1.0.html)

Regards.

[2016-03-05 22:59] #54 closed

[2016-03-13 09:57] xishuango0o0 opened #55 "Cordova 6.0.0 [self.webView loadRequest] is not defined."
When I use cordova at version 6.0.0 ,
has error on **Plugins/ionic-plugin-deploy/IonicDeploy.m:345:27: No visible @interface for 'UIView' declares the selector 'loadRequest:'**
can you fix it?

[2016-03-13 18:25] ericb commented on #55
This is fixed with #50 and will be pulled into the next update (this week I believe)

[2016-03-13 18:25] #55 closed

[2016-03-19 09:33] zhaoxinpeng opened #57 "deploy app crash log"
hi.
when i use deploy.update() to updata my app.my app crash,the err log is
java.lang.SecurityException: JPushSA.onResume(Context) must be invoked in Activity.onResume()
	at cn.jpush.android.api.e.c(Unknown Source)
	at cn.jpush.android.api.e.b(Unknown Source)
	at cn.jpush.android.api.JPushInterface.onPause(Unknown Source)
	at cn.jpush.phonegap.JPushPlugin.onPause(JPushPlugin.java:110)
	at org.apac

[2016-03-19 17:27] ericb commented on #57
This appears to be caused by another plugin you have installed (JPushSA). Does that seem familiar to you?

[2016-03-24 15:10] zhaoxinpeng commented on #57
thank you,i change the JPushsa plugin ,now it works fine.

[2016-03-24 15:12] zhaoxinpeng commented on #53
I have the same issue

[2016-03-24 15:17] #57 closed

[2016-04-06 01:28] pauly4it opened #58 "If the latest Ionic deploy has max version below current app version, app still goes into update flow but stays at 0% progress"
Steps to reproduce:
1) In our "staging" channel, we had an active deployment with an iOS maximum version set to 1.1.113
2) Build v1.1.200 to iPhone 5s
3) App shows the upload spinner and stays at 0%

After digging, it looks like the issue is on line 156 of IonicDeploy.m (https://github.com/driftyco/ionic-plugin-deploy/blob/574f4bb1bd293d66410bd80c06c6c33e0f5cd19f/src/ios/IonicDeploy.m#L156): it's

[2016-04-08 23:35] philly-d opened #60 "Updates not persisting on cordova-ios@4.x"
Ionic Deploy, like the rest of the Ionic platform, is awesome! But I'm having issues adding it to an existing project running cordova-ios @4.x (I tried with 4.0.1 and 4.1.0).
Deploy works great when I run through the tutorial here: http://docs.ionic.io/docs/deploy-from-scratch.
This uses the Ionic tabs starter app, which, via the Ionic CLI, currently adds the iOS platform using cordova-ios @3.8.
O

[2016-04-10 12:41] De-Lac commented on #21
hello, I have this exact problem, The update is done, but at the app restart, the old version is loaded.
I use the ionic-plugin-deploy version 0.5.0 , so I guess this issue should already be fixed....
But it's still there.  Should I change something else?

[2016-04-11 14:04] ericb commented on #21
@De-Lac What platform are you on? Do you see any errors in android or ios logs (or browser level errors from javascript)

[2016-04-11 14:06] De-Lac commented on #21
actually it seems that it only happens on IOS.  No I don't see any relevant error

[2016-04-11 14:15] ericb commented on #21
@De-Lac What version of cordova-ios are you running? It could be related to #60

[2016-04-11 14:21] De-Lac commented on #21
ionic --version
`1.7.14`

ionic plugin list
[code]

ionic info
[code]

[2016-04-11 16:29] nikis commented on #45
Today i had the same problem using ionic-plugin-deploy 0.5.0, ionic cli version 1.7.14 and custom zip archive (not created with ionic upload command line). The easies way to fix is to find your IonicDeploy.java and check if ZipEntry is directory and if is directory the loop needs to continue.  https://gist.github.com/nikis/01351e93f0551ba3ff5ed10d62938e27 Line 629:633

[2016-04-11 20:09] philly-d commented on #60
I did some debugging, and I think this is a bug in Cordova-ios, so I'm going to try to open an issue with them when I get a chance. I'm sorry for any inconvenience here if anyone's already been looking into this.

In the meantime, for anyone else having the same issue, what I found is that the Cordova method `onReset` isn't getting called when the webview starts loading, which is what Ionic Deploy

[2016-04-12 13:35] ericb commented on #60
Thanks for the update @philly-d

[2016-04-13 14:55] domTombola opened #61 "After zip extraction app doesn't reload with the new files, get Redirecting to: (null)"
I'm running iOS 6.1.6 and managing to check for updates, once there is a update it downloads and the zip extracts, but the app doesn't reload with the new files. On the log file it stops after unzipping 'Redirecting to: (null). Same code works fine on iOS 9.2.

ionic info:
Cordova CLI: 5.4.1
Ionic Version: 1.2.4-nightly-1917
Ionic CLI Version: 1.7.14
Ionic App Lib Version: 0.7.0
ios-deploy version

[2016-04-13 16:04] domTombola commented on #61
After looking into the plugin, it fails at the doRedirect method because NSURLComponents only works on iOS7+ https://developer.apple.com/library/ios/documentation/Foundation/Reference/NSURLComponents_class/

[2016-04-13 16:04] #61 closed

[2016-04-15 20:56] diegodotta opened #62 "Update only changed/new files"
Do you have plans to improve the Ionic Deploy to update only changed/new files and not the whole package?

[2016-04-16 13:39] NicksonYap commented on #60
@philly-d I am having the same problem here, update is not persistent only on iOS, persists on Android.

I downloaded the zip from master (apparently version: 4.2.0-dev) and changed line 48 of the file `CDVUIWebViewNavigationDelegate.m`

ran command:
[code]
then
[code]
Adding ios project...
iOS project created with cordova-ios@4.2.0-dev and has a linked CordovaLib
Installing "cordova-plugin-consol

[2016-04-16 14:52] NicksonYap commented on #60
Summary of persistence test on cordova-ios versions based on a fresh ionic project (tabs) on iOS 8.0 and iOS 9.3 (simulator):

Not persistent:
4.2.0-dev (original from GitHub not persistent)
4.1.1
4.0.0

Persistent:
4.2.0-dev (after applying workaround by @philly-d)
3.9.2
3.8.0

I will stick with 3.9.2 even if it's depreciated, because Im uncertain if the workaround will cause other problems

**Ba

[2016-04-16 14:56] NicksonYap commented on #21
@De-Lac  I had this problem for a few days and just found the issue [#60](https://github.com/driftyco/ionic-plugin-deploy/issues/60) mentioned by @eric-b.

Follow [my steps ](https://github.com/driftyco/ionic-plugin-deploy/issues/60#issuecomment-210834276) (downgrade cordova-ios) or @philly-d 's [work-around ](https://github.com/driftyco/ionic-plugin-deploy/issues/60#issuecomment-208534330) to cha

[2016-04-18 13:27] ericb commented on #62
I can't say for certain that we will implement this, but it's definitely something that we want to explore, and I know larger apps would greatly benefit from this.

[2016-04-19 18:32] #52 closed

[2016-04-19 18:32] #58 closed

[2016-04-19 18:33] #42 closed

[2016-04-20 06:57] yossi-shasho commented on #52
I couldn't solve it, so I simply downgraded to the older version. Moreover, there's hardly any code we wrote to wrap the feature, it simply wouldn't work.

[2016-04-21 14:50] Fuiste commented on #60
Should be fixed as of https://github.com/driftyco/ionic-plugin-deploy/releases/tag/v0.5.1

Let me know if the issue persists.

[2016-04-21 14:50] #60 closed

[2016-04-21 15:02] De-Lac commented on #21
thank you... but I'm still stuck. I tried to downgrade
[code]

and to change line 48 but nothing :(

[2016-04-21 15:09] NicksonYap commented on #21
ionic-plugin-deploy should fix this problem:
https://github.com/driftyco/ionic-plugin-deploy/releases/tag/v0.5.1
https://github.com/driftyco/ionic-plugin-deploy/issues/60#ref-pullrequest-149467554

[2016-04-21 15:10] NicksonYap commented on #21
@De-Lac  Might wanna test with a a fresh project to know if it's really a problem with `ionic-plugin-deploy`

[2016-04-22 01:16] De-Lac commented on #21
I'll try with a fresh project....
by the way, I tried the 0.5.1 but the issue is always there.  Maybe I didn't installed it in the proper way...   I just downloaded the .zip, and extract it in the plugin folder. Is there a better way to manually install a plugin?

[2016-04-25 04:07] asafco4 commented on #60
Hey @Fuiste , I have version 0.5.0, what's the best way to upgrade it to 0.5.1?
I tried to remove the plugin and install it but it's also 0.5.0 again...

[2016-04-25 09:05] adinu commented on #60
hi,

we tried to update to 0.5.2/0.5.1 version (Because of the problem with the IOS) and for some reason the application doesn't open.

we have tried updating it with "ionic state reset" and also with "remove plugin" but the issue occurs.

this is the log we have on IOS:
2016-04-25 11:58:57.880 OurCrowd[512:139471] Apache Cordova native platform version 4.1.1 is starting.
2016-04-25 11:58:57.881 O

[2016-04-25 11:30] deliverymanager opened #64 "iOS stack on ignore version: NO_DEPLOY_LABEL (fresh install)"
After creating a fresh ionic project, using the iOS platform 3.8.0 (which is the default in ionic start) the problem I am describing did not exist. The problem exists in iOS platform 4.0.1 and 4.1.0.

The problem is that the simulator gets stack in the splash screen and the logs are showing what appears in the image below.

Reproduce with the steps:
ionic start testDeploy
cd testDeploy
ionic platf

[2016-04-25 11:49] deliverymanager commented on #64
I have also tested the ios version 4.0.0 and the problem still exists there.
I have tested the cordova ios version 3.9.2 and the problem doesn't exist there.
![screenshot 2016-04-25 14 49 21](https://cloud.githubusercontent.com/assets/4013348/14782918/f3b77426-0af4-11e6-8cab-967f5c1d4e3a.png)

[2016-04-25 12:29] ericb commented on #64
NO_DEPLOY_LABEL is a normal label when there is nothing deployed to the device. You've either got an outdated version of a plugin or some other error in your application.

[2016-04-25 12:29] #64 closed

[2016-04-25 12:55] Fuiste commented on #60
@asafco4 It's possible you'll have to remove the iOS platform then re-add it, as plugins can sometimes be cached.

@adinu when you say the app doesn't open, is it hanging on the splashscreen, or displaying some other behavior?

[2016-04-25 13:01] deliverymanager commented on #64
Thank you for your answer.
The reason for the issue that you suggested which is the outdated version of a plugin is little strange because I have tested it on a fresh installation.
Did you see the patern of the cordova ios version?
It works on 3.9.2 and not on 4.0.1 and above.

Where do you beleive I should check for the outaded update?
Thank you!

[2016-04-25 13:05] adinu commented on #60
hanging on splashscreen.

[2016-04-25 13:08] deliverymanager commented on #60
Could you please take a screen shot of the logs in xcode?

[2016-04-25 13:09] deliverymanager commented on #60
Looks like this could be related to my issue I recently opened. It hangs on the same spot when opening the app.

[2016-04-25 13:10] adinu commented on #60
this is the log we have on IOS:
2016-04-25 11:58:57.880 OurCrowd[512:139471] Apache Cordova native platform version 4.1.1 is starting.
2016-04-25 11:58:57.881 OurCrowd[512:139471] Multi-tasking -> Device: YES, App: YES
2016-04-25 11:58:57.963 OurCrowd[512:139471] Using UIWebView
2016-04-25 11:58:57.965 OurCrowd[512:139471] [CDVTimer][handleopenurl] 0.065982ms
2016-04-25 11:58:57.966 OurCrowd[512:1

[2016-04-25 13:55] martyzz1 commented on #60
Same issue for me

0.5.0 Works fine...

0.5.2 also fails as above

Your system information:

Cordova CLI: 6.1.1
Gulp version:  CLI version 3.9.1
Gulp local:   Local version 3.9.1
Ionic Version: 1.2.4-nightly-1917
Ionic CLI Version: 1.7.14
Ionic App Lib Version: 0.7.0
ios-deploy version: 1.8.6
ios-sim version: 5.0.8
OS: Mac OS X El Capitan
Node Version: v4.4.2
Xcode version: Xcode 7.2.1 Build versi

[2016-04-25 15:17] asafco4 commented on #60
@Fuiste - I'm on Android right now, the plugin for ios and android is the same, right?
should be same version, right?

[2016-04-25 15:20] Fuiste commented on #60
@asafco4 yup, should be the same versions, though version 0.5.1 made no changes to the Android side of things.

@martyzz1, which version of `cordova-ios` are you running?

[2016-04-25 15:30] asafco4 commented on #60
@Fuiste  - thanks for the quick reply.
I'm more concerned that I'm not getting the last version rather than the actual update, as right now I might not need to but later on I might...

I removed both platforms - ionic platform rm android & ionic platform rm ios
I then deleted the platforms & plugins folders from disk, then "ionic state restore"
(I can see the command: cordova plugin add ionic-plug

[2016-04-25 15:34] Fuiste commented on #60
@asafco4 Probably a silly question, but have you tried simply running

[code]

I ask because I was just able to update the plugin on a local project in this manner.

@adinu I'm trying to reproduce this issue on my device now.  Just to pinpoint all variables, what version of iOS is your testing device running?

[2016-04-25 15:41] asafco4 commented on #60
@Fuiste  - I tried both with and without the @0.5.2
both installed the 0.5.0

When I use ionic plugin add ionic-plugin-deploy - it should download the latest, right?
Could it be that since no change to Android then 0.5.0 is the latest downloadable?

Also, if I use specific version then it will be stuck on it while I want to get the latest...

[2016-04-25 15:53] Fuiste commented on #60
Well, I feel foolish...

@asafco4 looks like I forgot to update the `plugin.xml` file when I published 0.5.2, so that one's on me.

I've just published 0.5.3, which is identical, save for the proper version bump and `plugin.xml` update, and should solve your issue.

[2016-04-25 16:06] asafco4 commented on #60
@Fuiste - Thanks :+1:

[2016-04-25 17:01] martyzz1 commented on #60
cordova platform version ios
Installed platforms:
  android 5.0.0
  ios 4.1.1

[2016-04-25 17:10] martyzz1 commented on #60
tried 0.5.3 and still get the issue...

[2016-04-26 08:30] deliverymanager commented on #64
@ericb The problem of **iOS getting stack on the splash screen with the deploy plugin** is very easily reproducible on a fresh / clean ionic project without any additional plugins other than the basic.
Can you please at least confirm the issue?
My configuration was the following

![screenshot 2016-04-26 11 23 06](https://cloud.githubusercontent.com/assets/4013348/14811654/c083fbe4-0ba1-11e6-9cd8-6

[2016-04-26 13:38] Fuiste commented on #60
Hey guys (@martyzz1, @adinu, and @deliverymanager), quick update.

It looks like I spoke too soon with that patch in 0.5.2, but I've just released v0.5.4 which is working on `cordova-ios` 3.9.2, 4.0.0, and 4.1.0 with both ym iOS 9.3 and 8.4 devices.

Let me know if this one works out for you, and sorry for the confusion there!

[2016-04-26 16:43] deliverymanager commented on #64
I can confirm that the version 0.5.4 has resolved the problem of the iOS app getting stack on the splash screen.
Thank you!

[2016-04-27 14:18] jackvial commented on #64
I was having the same issue but with version 0.5.4. Rolling back to 0.5.0 of the plugin fixed it for me.

[2016-04-27 14:21] deliverymanager commented on #64
What version of cordova ios do you use?

[2016-04-27 14:23] Fuiste commented on #64
@jackvial I can take a look into it, I just need your `cordova-ios` version, iOS version, and `ionic-platform-web-client` version.

[2016-04-27 15:24] jackvial opened #65 "iOS gets stuck on splash screen"
With v0.5.4 of the plugin the app gets stuck on the splash screen when running on my device (iPhone 5, iOS 9.3.1). I noticed a few iOS specific changes in the recent commits, so I installed v0.5.0 which worked for me without any issues.

[2016-04-27 16:20] jackvial commented on #65
Update:

I tried v0.5.3 and that works well on both iOS and android. It looks like commit 0c069fd9b386ad1a5e09f246ad5871feaf2acfa4 is causing the app to get stuck on the splash screen on iOS. At least that is the case for me anyway.

[2016-04-27 18:13] Fuiste commented on #65
@jackvial I'll need a couple things to start debugging what's going on here.

* Your `cordova-ios` version
* The iOS version on your device
* The version of the `ionic-platform-web-client` you're running.

[2016-04-27 18:53] Fuiste commented on #65
@jackvial whoops, accidentally copied my reply from the other issue over to this one.  Anyways, I do still need your `cordova-ios` version.

In addition, are you seeing anything in the logs suggesting an error when the app hangs?  I ask cause I"m not able to reproduce this on `cordova-ios` 3.8.0, 3.9.2, or 4.1.0.

[2016-04-30 08:56] rdavono commented on #65
I have the same problem with Cordova CLI 6.1.1 and iOS 4.1.1

[2016-04-30 10:27] rdavono commented on #65
More information: Simulator works fine, but not on actual device.

This may be a WKWebView issue: https://issues.apache.org/jira/browse/CB-10237

The hot code push plugin seems to have a workaround: https://github.com/nordnet/cordova-hot-code-push/issues/85

[2016-05-01 10:59] GoArabGo commented on #65
i have the same problem and i use phonegap build

[2016-05-03 02:06] pauly4it commented on #65
Just wanted to add some of my own experiences here:

With cordova-ios v3.9.2, I can confirm that the code in PR #59 works properly. ionic-plugin-deploy v0.5.4 (https://github.com/driftyco/ionic-plugin-deploy/tree/v0.5.4) does not work with cordova-ios v3.9.2 and causes the splash screen to get stuck.

We can't update cordova-ios due to other plugin compatibility, so we're going to stick with pulli

[2016-05-10 16:15] martyzz1 commented on #49
+1

[2016-05-11 17:57] MarwaAbuEssa opened #67 "reopen app for second time after rollback gets wrong version"
hi,

I'm using la tested Ionic-deploy plugin Version , using the following code :

 deploy.setChannel("dev");
            deploy.check().then(function(response) {
            // response will be true/false
            if (response) {
                // Download the updates
                deploy.download().then(function() {
                // Extract the updates
                deploy.extract().th

[2016-05-11 22:59] Mohamed-Habshey commented on #67
:+1:  same here

[2016-05-15 10:56] MarwaAbuEssa commented on #67
anyone ?

[2016-05-18 17:02] korensiso opened #68 "NSURLSession/NSURLConnection HTTP load failed (kCFStreamErrorDomainSSL, -9814)"
Hello,

I'm on to process of running my IONIC application on my iPhone 5c (iOS 9). Currently, it works just fine with the iPhone emulator (iOS 9), but unfortunately It failed to load on my iPhone.
When I'm running it via xcode, the build and the installation processes finish without any issue, but it stuck with cordova splash screen.
The following lines are the only logs I can see within the xcode

[2016-05-18 17:17] hossam9995 opened #69 "Ionic Deploy: no updates available"
hello,

I'am using ionic deploy plugin and i do every thing on this doc http://docs.ionic.io/docs/deploy-quick-start

but its always return for me Ionic Deploy: no updates available

i use the version and info function to return some information

**check update function return all time**
`onic Deploy: no updates available`

**version function return **
` Array[0]length: 0__proto__: Array[0]`

**in

[2016-05-18 20:15] troygilbert commented on #67
I've had a similar issue where my apps update to the latest version correctly but when the app relaunches at a later point it loads an old version, but Deploy.info() continues to report the latest version (maybe related?).

[2016-05-19 11:07] herman1vdb commented on #13
+1 Me too

[2016-05-19 12:41] ericb commented on #68
Have you added the exclusion rule for S3 servers? Check out this [post](https://mobile.awsblog.com/post/Tx2QM69ZE6BGTYX/Preparing-Your-Apps-for-iOS-9) for more information.

I'm not sure you can avoid the .plist file being overridden, but you can run cordova hooks to apply changes after a build. Check out our [package hooks](https://github.com/driftyco/ionic-package-hooks/blob/master/README.md) re

[2016-05-19 12:44] ericb commented on #69
You'll need to give a little more information about what you're checking against. Have you deployed a version to the proper channel? Is the correct channel being used in the app itself? What about min/max/and equivalent versions for the deploy?

[2016-05-19 16:15] hossam9995 commented on #69
thanks for your reply ,,
I'am set the channel in both ionic io dashboard and on the application  by use  `deploy.setChannel("production");`

and i set  equivalent versions to  `0.0.1`  and min to `0.0.1` and max to `0.0.4`

hint `0.0.1` version  it same to binary version that on the config.xml file

[2016-05-19 20:46] ericb commented on #69
If you set the equivalent version to 0.0.1 and the device is running 0.0.1, it will not find an update. The equivalent version is used to specifically ignore updates because it could be the same version deployed to the app stores.

You should remove the equivalent version if it's not actually equivalent to the installed version (via apk/ipa or app stores)

[2016-05-19 20:46] #69 closed

[2016-05-20 03:26] warden1975 opened #70 "App seems to stuck when trying ionic deploy"
When using xcode to install and run app to my device, it just hangs. Logs shows:

2016-05-20 10:51:30.817 ionXPlanner[1585:366489] VERSION LABEL: 1.3.0:1463712641:
2016-05-20 10:51:30.817 ionXPlanner[1585:366489] updating version label
2016-05-20 10:51:30.818 ionXPlanner[1585:366489] [CDVTimer][ionicdeploy] 2.484024ms
2016-05-20 10:51:30.819 ionXPlanner[1585:366489] [CDVTimer][TotalPluginStartup]

[2016-05-20 09:42] tmdevde commented on #70
have exactly the same problem right now.

[2016-05-20 12:07] itbeyond opened #71 "Unable to build IOS with cordova-plugin-zip"
It appears that the ionic-plugin-deploy is not compatible with cordova-plugin-zip when building on IOS. The two libraries cause 68 duplicate symbols linker errors during the build process. It works fine on Android but not IOS.

Building with latest xcode targetting version 9 and latest plugins:
Cordova CLI: 6.1.1
Gulp version:  CLI version 3.9.1
Gulp local:   Local version 3.9.1
Ionic Version: 1.3

[2016-05-22 18:30] korensiso commented on #68
I added the exclusion rule for S3 servers, but it still get stuck on the cordova splash screen. This time with kCFStreamErrorDomainSSL, -9802

[2016-05-23 17:57] hossam9995 commented on #69
hello again ,
I'am sorry for take long time to reply
I already try with clear equivalent version and its the same result.

I thing the issue when i type `ionic add ionic-platform-web-client`
it return that we can't change file `./www/js/app.js` becuse its not exsist (becuse i use the custom structure)
-> here i have to chose if i should to
1- set `disable_modifications` to `true`
2- change `./www/

[2016-05-23 22:13] NickMele commented on #53
I am also wondering what the status of this is, we are encountering the same issues. Whenever a new deploy is made and the Android app gets updated, the back button stops working until you kill the app.

[2016-05-24 18:29] hossam9995 commented on #69
finally , I got the solution
only to set this code on ionic.io.bundle.js this code

`   "IONIC_SETTINGS_STRING_START";
    var settings =
    {
        "app_id":"your id ",
        "api_key":"Your key",
        "disable_modifications":true,
        "dev_push":true
    };
    return {
        get: function(setting) {
            if (settings[setting]) {
                return settings[setting];

[2016-05-25 12:41] MarwaAbuEssa commented on #67
i had upgraded ionic to 1.3.1(latest) at my app and the issue still exists :disappointed:

[2016-05-25 12:52] troygilbert commented on #67
This was related to the ionic deploy plugin. Upgrade to at least 0.5.4 to fix it.

[2016-05-25 13:25] MarwaAbuEssa commented on #67
thanks @troygilbert  but  i have a  deploy plugin version is 0.5.4  already

[2016-05-25 15:53] mixersoft commented on #70
i'm not alone. whew! I thought I just messed up my project somehow.  I have the same errors from the xcode console, I even tried to build a clean project from scratch according the the `deploy quickstart` guide. It still hangs. But if I remove the plugin, the app loads fine, just no deploy

[code]

My app used to work with deploy just fine, but today I upgraded to the latest release of `xcode` and

[2016-05-26 14:17] Fuiste commented on #70
Hey guys, what versions of the plugin and `cordova-ios` are you running when you get this issue?

[2016-05-26 19:47] hossam9995 opened #72 "plugin break after update the app"
Hello

I'am using deploy plugin and  every thing  work fine .

the application catch there is an update and i try to install it ,

,but the problem is after update files throw ionic io plugin all plugins not work no facebook login no google+ no sqllite ,, its like after catch update and download it ,, the plugins not work perfect ,?!

the application work fine but the plugins does not .

my  syste

[2016-05-26 20:07] deliverymanager commented on #72
I would suggest to try creating a new ionic project without any more plugins than the necessary.
Then try adding one by one the plugins to see if anyone of them causes the problem.

[2016-05-27 01:51] NickMele commented on #53
I am seeing this consistently on a Samsung Galaxy Note 3 and Note 5, if that helps at all.

[2016-05-27 06:49] mixersoft commented on #70
I'm looking in `CordovaLib.xcodeproj` and it says `3.9.2` in the `VERSION` file. Is that the right place?

[2016-05-27 08:06] hossam9995 commented on #72
@deliverymanager thanks for reply .. I just would like to know what is  ionic cachebuster mean .. Its like the app after update cant catch cordova.js and cordova_plugin.js files on app directory  .. ..

Thanks

[2016-05-27 13:49] Fuiste commented on #70
Yup, that's the `cordova-ios` version.

Which version of the plugin are you running as well?

[2016-05-27 13:54] Fuiste commented on #72
@hossam9995 first thing, I'd do as @deliverymanager suggested and verify that the problem lies specifically with ionic deploy rather than some other plugin change.

Have you commented out the `cordova.js` in your `index.html`?  This is essential for the Ionic web client to function with deploy.

Finally, the cachebuster you're seeing is just adding ignored query parameters to request URL's so as t

[2016-05-27 15:00] hossam9995 commented on #72
@Fuiste really thanks you so much ,, it works perfect when you i commented out the cordova.js in my index.html

thanks again

[2016-05-27 15:00] #72 closed

[2016-05-27 15:07] Fuiste commented on #72
Glad to help!

[2016-05-29 16:25] amir-yahalom commented on #68
I had this problem, never solved it.. my backend was hosted on heroku (based on AWS)

[2016-05-30 11:04] mixersoft commented on #70
Sorry, I didn't see this until today. I'm using the latest version, here is the list from today:

[code]

[2016-06-06 23:01] EyalSeagull opened #73 "Possible issue in "IonicDeploy.m" function "removeVersionFromPreferences"
Hi,

First of all, thanks for an amazing service and a wonderful plugin.

I'm sorry if I'm not following the correct procedures to report a possible issue/correction, but I had some troubles with my app, and when I was debugging the **IonicDeploy.m** code in Xcode 7.3.1 I saw that the `removeVersionFromPreferences` might have an issue.

It looks like a missing formatting of the value in the `newVe

[2016-06-07 21:51] EyalSeagull commented on #70
Hi guys,

I'm not sure if it is the same problem, but I've experienced crashes the same way. Maybe issue #73 can help (I've changed manually IonicDeploy.m and it started working again).

Eyal

[2016-06-07 21:54] EyalSeagull commented on #73
@Fuiste, in order to make things work, I had to manually remove **my_versions** and **version_count** from **NSUserDefaults** in the plugin init function.

Otherwise, **my_versions** will still have a non formatted value when the app starts (only **UUID** without the **NUMBER|UUID**) and the error persiste even changing the **removeVersionFromPreferences** function.

Maybe a check, when initializa

[2016-06-07 22:01] EyalSeagull commented on #65
I'm not sure if it is the same problem, but I've experienced crashes the same way on iOS. Maybe issue #73 can help (I've changed manually IonicDeploy.m and it started working again).

[2016-06-08 13:32] Fuiste commented on #73
Hey guys, looking into this issue right now.  I'll post an update as soon as I reproduce the problem and publish an update if necessary.

[2016-06-08 14:07] Fuiste commented on #73
Ok, just made the change and tested it locally, looks like it's working well for me. (the fix is in `v0.5.6` of the plugin if you want to grab it).

Let me know if this solves things, and thanks for the heads up on the issue!

[2016-06-09 13:44] EyalSeagull commented on #73
Hi @Fuiste, v0.5.6 is working fine for me. Thanks for the rapid response.

[2016-06-09 13:47] Fuiste commented on #73
No problem, glad to help!

I'm going to close this issue for now, but tag me if there's problems down the road with this.

[2016-06-09 13:47] #73 closed

[2016-06-12 16:58] FelixLC commented on #70
@Fuiste , I am facing the same issue with the following config:

[code]

I tried downloading the deploy-tutorial, as well as incorporating the plugin into an existing app. I also tried downgrading cordova-ios & the plugin

[2016-06-16 08:02] mixersoft commented on #70
I looked into issue https://github.com/driftyco/ionic-plugin-deploy/issues/73 but the fix was pushed. I updated to the latest version of the plugin, `0.5.6` and still have this problem.

[2016-06-17 16:01] gsarfati commented on #70
+1

[2016-06-17 16:22] EyalSeagull commented on #70
Hi @Fuiste,

I had the same problem even after installing the 0.5.6 version, but when I removed (thru code) the **my_versions** and **version_count** preferences from NSUserDefaults everything worked fine.

It looked like the **my_versions** preference had an "old" content (only the **UUID** without the **NUMBER|UUID**) and that was the reason it stucked when I run the app.

Can it be the reason f

[2016-06-19 05:08] mixersoft commented on #70
@EyalSeagull Is that easy to do in xcode? can you share an example?

[2016-06-22 13:14] EyalSeagull commented on #70
Hi @mixersoft,

Yes it is wasy to do in XCode. In the **IonicDeploy.m** file I have changed the following function:

[code]

[2016-06-22 18:26] mixersoft commented on #70
@EyalSeagull

I did the following:

file: `IonicDeploy.m`

[code]

and I put a breakpoint in that method, but it never ran the code

My xcode console still shows:

[code]

and I have the following configuration:

[code]

any suggestions?

[2016-06-23 05:06] EyalSeagull commented on #70
Hi @mixersoft,

I´m getting the same lines as you do in XCode:

[code]

Although my app is running ok (including deploy).

Maybe you can you try putting the lines in the beggining of the **IonicDeploy.m**  `pluginInitialize` function instead?

[code]

Here is a short (uncomment) version of how I use Ionic Deploy process in my app (it will check and download a new version if exists, it will get the

[2016-06-23 05:08] deliverymanager commented on #70
What version of cordova ios platform do you use?
Is it the latest? 4.1.1?

[2016-06-23 05:16] EyalSeagull commented on #70
Yes, cordova-ios@4.1.1

`$ sudo ionic info`

Cordova CLI: 6.2.0
Gulp version:  CLI version 3.9.1
Gulp local:   Local version 3.9.0
Ionic Framework Version: 1.2.4-nightly-1917
Ionic CLI Version: 1.7.15
Ionic App Lib Version: 0.7.2
ios-deploy version: 1.8.6
ios-sim version: 5.0.8
OS: Mac OS X El Capitan
Node Version: v4.3.2
Xcode version: Xcode 7.3.1 Build version 7D1014

`$ sudo cordova plugin list

[2016-06-23 08:18] mixersoft commented on #70
**SOLVED!!!**

I updated to `cordova-ios@4.1.1` and it worked. was previously on `3.8.0` or `3.8.1`

use: `ionic platform remove ios; ionic platform add ios`

but make sure you save your `.plist` file and update the  `<key>NSAppTransportSecurity</key>` keys

[2016-06-23 12:00] yossi-shasho commented on #65
+1.
0.5.6 gets stuck on splash screen on iOS. no JS resources are even loaded. see attached the console output in XCode
![screen shot 2016-06-23 at 3 00 23 pm](https://cloud.githubusercontent.com/assets/1956748/16302331/3e02e542-3953-11e6-9498-29666004fe11.png)

[2016-06-23 14:07] deliverymanager commented on #65
You are running on cordova ios 3.9.2.
You should use the 4.1.1

[2016-06-26 08:46] yossi-shasho commented on #65
that indeed solved it. But this should probably be stated in the documentation.

[2016-07-19 04:06] NickMele opened #77 "iOS - shouldOverrideLoadWithRequest causing issues with deferred loading"
It is very possible I am not doing something correctly, but I believe this method is causing issues with deferred loading. The process I am trying to implement within our app is as follows:

1. User opens app
2. In the background the app checks if there is an update
3. If there is an update, it is downloaded and extracted in the background.
4. next time the user opens the app, the update is applie

[2016-07-20 22:21] Manduro opened #78 "Cordova.js injection with Ionic 2"
Issue: https://github.com/driftyco/ionic-cloud/issues/16

@Fuiste The solution on the `ionic-2` branch is looking good. Please let us know when it is ready for us to start testing!

[2016-07-21 07:51] deliverymanager opened #79 "After app updated with deploy, $ionicPlatform service events do not work!"
After making an update to the app, $ionicPlatform.on("pause", function(){});
and resume etc events do not work!

[2016-08-08 06:31] plnkr2015 commented on #79
hi,
i am having an issue which might be related to #79

here is what i am doing-
1. watching for any update
2. if available download
3. show a message to user
4. upon user confirmation, calling deploy.load()
5. deploy is successful and app restarts

up to step 5, it works good but when app restarts i don't see any plugin loaded. also the buttons and etc when i click them nothing happens. basically

[2016-08-12 20:48] #78 closed

[2016-08-19 18:21] andrewoodleyjr opened #83 "White Screen of Death"
Greetings,

Im using Ionic Deploy to update an app. Initially everything checks out fine after a successful update... However after restarting the iOS app after a deploy a blank white screen shows.

Debug Errors - (Safari)
1. cordova.js is already included...'
[code]
2. app module is not Failed to instantiate module app due to:
[code]

[2016-08-19 21:07] Fuiste commented on #83
Hey @andrewoodleyjr, couple quick questions before I can look into this.

* Are you running ionic 1 or 2?
* Are you using the `ionic-platform-web-client` or the `cloud-angular` service?
* Which version of the deploy plugin are you running?

[2016-08-19 21:17] andrewoodleyjr commented on #83
Hey @Fuiste, Thanks for the prompt response.
1. Ionic 1,
2. `ionic-platform-web-client`
3. `ionic deploy version 0.6.0`

[2016-08-19 21:18] Fuiste commented on #83
Good to know.  I'm wondering if this issue is tied to my ionic 2 support changes in 0.6.0

Can you confirm whether the issue is still occurring if you use 0.5.7?

[2016-08-19 21:39] andrewoodleyjr commented on #83
Implementing now.

[2016-08-19 21:49] andrewoodleyjr commented on #83
@Fuiste Tried a couple times using 0.5.7 unfortunately same issue.
Trying 0.5.0 now

[2016-08-19 22:09] andrewoodleyjr commented on #83
@Fuiste v0.5.7 and v0.5.0 - No Dice

[2016-08-22 18:26] andrewoodleyjr commented on #83
@Fuiste I believe the problem was related to another issue found here. https://github.com/driftyco/ng-cordova/issues/172

[2016-08-22 18:26] #83 closed

[2016-08-22 18:32] Fuiste commented on #83
Glad you got it figured out @andrewoodleyjr, was just about to post a response here that I was having trouble reproducing the issue.

[2016-08-23 14:35] Fuiste opened #84 "ionic-deploy ngCordova source being renamed wrong after update"
_From @aotaduy on August 22, 2016 13:56_

I'm using ionic deploy to update my app.
I'm also using ngCordova, but after the update looks like ionic deploy updated my index.html file and renamed the ng-cordova `script` tag that adds the sources.

The immediate symptom was a white screen and the angular app not being initialized.

before update:
[code]

notice that cordova.js is commented

and after

[2016-08-23 14:35] Fuiste commented on #84
Good catch, this appears to be tied to version 0.6.0 of the Ionic Deploy plugin.  in the short term, you should be able to use 0.5.7 without issue, but I'll work on an update as soon as possible.

[2016-08-23 15:12] Fuiste commented on #84
This should be fixed as of version `0.6.1` of the ionic deploy plugin.

[2016-08-23 15:12] #84 closed

[2016-08-23 20:06] aotaduy commented on #84
thanks, @Fuiste wasn't sure if this was the correct place to report this one.

[2016-08-23 20:08] Fuiste commented on #84
No problem @aotaduy, I realize the number of repos we have can sometimes lead to confusion.

[2016-08-24 14:46] Fuiste opened #86 "Deploy.load() Not Reloading App Immediately"
_From @amymarsh4work on August 23, 2016 19:27_

Hi,
I'm working on getting the Deploy functionality working in my Ionic 2 -ts app. It's mostly there, but having a problem - the deploy.done() doesn't seem to be working for me. I'm not seeing the updated app until I manually close the app and reopen it.

I can reproduce this by deploying a new build to the production channel, then running 'ionic run

[2016-08-24 14:46] Fuiste commented on #86
_From @Manduro on August 23, 2016 19:42_

I can conform this issue.

[2016-08-24 14:46] Fuiste commented on #86
_From @dwieeb on August 23, 2016 19:44_

Using the new version of `ionic-plugin-deploy`, I presume? `0.6.0` or `0.6.1`?

[2016-08-24 14:46] Fuiste commented on #86
_From @Manduro on August 23, 2016 19:51_

Using 0.6.0, happenings consistentst and I don't think the 0.6.1 fix is related.

It also loaded the originally packaged app on one occasion, after having updated some time before. A restart loaded the update back in. I can't reproduce that though.

[2016-08-24 14:46] Fuiste commented on #86
_From @dwieeb on August 23, 2016 19:52_

@Fuiste, thoughts? Is the plugin's `load()` function broken?

[2016-08-24 14:46] Fuiste commented on #86
_From @amymarsh4work on August 23, 2016 19:53_

Correct - I'm using 0.6.0.

[2016-08-24 14:46] Fuiste commented on #86
@dwieeb I'll look into it, everything seems kosher on my testing app, but I'll try a fresh one as soon as I'm able.

[2016-08-24 14:46] Fuiste commented on #86
@dwieeb and @amymarsh4work I've identified the problem, it was stemming from reloading the webview on redirect, specifically in iOS.

I'm cutting a new release now, going to move this issue to the deploy plugin and comment there when it's fixed.

[2016-08-24 15:00] Fuiste commented on #86
💥💥💥

And there we go.  Version `0.6.2` of the deploy plugin has just been released.

Let me know if you have any issues, but it appears good to go on both of my devices.

Thanks for catching this one!

[2016-08-24 15:00] #86 closed

[2016-08-24 15:08] pawurb commented on #79
I am facing an issue that might be connected. I manuall download, extract and apply (`deploy.load()`) update using the codes from here http://docs.ionic.io/docs/deploy-updating-apps. I can see that Objective-C code is properly called and `"Reloading the UIWebView."` message is displayed. However after the view reload looks like the changes are not applied. I can still see the previous version. Onl

[2016-08-24 15:11] Fuiste commented on #79
@pawurb perfect timing.  Try deploy version `0.6.2`, which I just released to solve this issue.

I believe this issue is solved now, but let me know if the problem persists and I can re-open it.

[2016-08-24 15:11] #79 closed

[2016-08-25 22:38] joshgarwood opened #87 "Possible to get list of latest deploys?"
Hi there!

I am trying to get a list of the most recent deploys for a given channel in ionic.io, and as far as I can tell, it isn't possible with this plugin.  My goal is to be able to determine if there is a new binary update (meaning that the currently installed version is lower than the newest deployed "minVersion" in ionic.io).  Is that possible?

Thanks for your time!

[2016-08-26 13:34] ericb commented on #87
This is not currently possible, but it is something you could do with our deploy API if you have access to your own backend. This is definitely something we want to support with a future plugin update though, so you can notify users that a binary update is available.

[2016-08-26 13:34] #87 closed

[2016-09-01 14:14] gbelmm opened #88 "ignore deploy help please"
help please, deploy no found in ios,
![captura de pantalla 2016-09-01 a las 11 11 37 a m](https://cloud.githubusercontent.com/assets/731936/18170577/2ac9f204-7035-11e6-9fa8-f4eed0dc8e40.png)

ionic info

Cordova CLI: 6.1.1
Gulp version:  CLI version 0.3.0
Gulp local:   Local version 3.9.1
Ionic Framework Version: 1.0.1
Ionic CLI Version: 2.0.0
Ionic App Lib Version: 2.0.0-beta.20
ios-deploy versio

[2016-09-01 15:47] ericb commented on #88
This is a normal log output when the application does not have a deployed version. You need to publish a new snapshot to a deploy channel and then check against that channel for an update. You can learn more about how to use deploy in our newly revamped [deploy docs](http://docs.ionic.io/services/deploy/).

[2016-09-01 18:21] gbelmm commented on #88
deployed versions

![captura de pantalla 2016-09-01 a las 3 17 34 p m](https://cloud.githubusercontent.com/assets/731936/18179144/89a08d16-7057-11e6-807c-ad131db04d4a.png)

mismo error

![captura de pantalla 2016-09-01 a las 3 18 16 p m](https://cloud.githubusercontent.com/assets/731936/18179170/a0b3c25c-7057-11e6-98b9-67b11836bd18.png)

[2016-09-01 19:53] ericb commented on #88
What version of the plugin are you using? Are you using the latest cloud client? I'll need more information and code snippets if possible in order to help further.

[2016-09-01 20:04] gbelmm commented on #88
"@ionic/cloud": "^0.8.1",
ionic-plugin-deploy 0.5.7 "IonicDeploy"

in android works well

we have problems in ios

[2016-09-01 20:09] gbelmm commented on #88
![captura de pantalla 2016-09-01 a las 5 06 19 p m](https://cloud.githubusercontent.com/assets/731936/18182528/b943727c-7066-11e6-9c8d-89e070a5108a.png)
![captura de pantalla 2016-09-01 a las 5 06 49 p m](https://cloud.githubusercontent.com/assets/731936/18182555/d3e64b2c-7066-11e6-9ea6-c37cda536c6c.png)

[2016-09-01 20:20] gbelmm commented on #88
![captura de pantalla 2016-09-01 a las 5 16 52 p m](https://cloud.githubusercontent.com/assets/731936/18182889/333bf1f2-7068-11e6-97e7-e4aec252f170.png)

in android is ok

![screenshot_2016-08-31-19-09-13](https://cloud.githubusercontent.com/assets/731936/18182913/4c3b4f68-7068-11e6-8d04-34beb9cd0172.png)

in ios no found alert ok and alert error

[2016-09-01 20:49] santiagobenini commented on #88
@ericb could you re-open the issue? so others could help

[2016-09-02 13:06] ericb commented on #88
@santiagobenini I will temporarily re-open the issue, but please install the latest version of the plugin before attempting anything else. Here is the [changelog](https://github.com/driftyco/ionic-plugin-deploy/blob/master/changelog.md)

[2016-09-02 15:41] Fuiste commented on #88
@gbelmm as @ericb stated, try the latest version of the plugin on iOS and see if that helps.

In addition, can you see if there are any other logs in Xcode during the deploy check that may be referencing a network error or some other issue with the device's check?

[2016-09-02 15:43] Fuiste commented on #77
@NickMele sorry for the delayed response here, but this indeed appears to be a bug at first glance.

I'll look into reproducing it and pushing a fix in the next release of the plugin.

[2016-09-02 15:44] Fuiste commented on #70
Marking this solved, as it hasn't been active for some time and the latest ionic CLI's now install a more recent `cordova-ios`.

Let me know if issues are persisting.

[2016-09-02 15:44] #70 closed

[2016-09-02 15:45] Fuiste commented on #65
Marking solved as of the latest deploy plugin and Ionic CLI, which now defaults to a more modern `cordova-ios`.

[2016-09-02 15:45] #65 closed

[2016-09-02 15:46] Fuiste commented on #67
@MarwaAbuEssa can you confirm whether this issue still occurs as of version `0.6.3` of the plugin?

[2016-09-02 15:48] Fuiste commented on #49
You can use the `maximum` version to accomplish this functionality.

[2016-09-02 15:48] #49 closed

[2016-09-02 15:50] Fuiste commented on #33
Closing as this was an issue with the deprecated deploy libraries, and should be solved in the `ionic-cloud` client and latest version (`0.6.3`) of the deploy plugin.

[2016-09-02 15:50] #33 closed

[2016-09-02 15:52] Fuiste commented on #40
@soforeal closing as this issue hasn't seen activity in over a year.

If the problem still persists using the latest [cloud client](http://docs.ionic.io/setup.html) and deploy plugin (`v0.6.3`), let me know and I'll investigate further.

[2016-09-02 15:52] #40 closed

[2016-09-02 15:54] Fuiste commented on #43
Closing as this issue is with npm, rather than the deploy plugin.

[2016-09-02 15:54] #43 closed

[2016-09-02 15:56] Fuiste commented on #71
This is a known issue, and we're looking into solutions.

I'm closing this because there's a duplicate issue [here](https://github.com/driftyco/ionic-plugin-deploy/issues/13), but this is definitely something we're interested in solving.

[2016-09-02 15:56] #71 closed

[2016-09-02 15:56] gbelmm commented on #88
@Fuiste
this is the log

`2016-09-02 12:44:02.715 Hostify[254:15983] Apache Cordova native platform version 4.1.1 is starting.
2016-09-02 12:44:02.720 Hostify[254:15983] Multi-tasking -> Device: YES, App: YES
2016-09-02 12:44:03.034 Hostify[254:15983] Using UIWebView
2016-09-02 12:44:03.049 Hostify[254:15983] [CDVTimer][handleopenurl] 0.726044ms
2016-09-02 12:44:03.061 Hostify[254:15983] [CDVTimer

[2016-09-03 15:48] santiagobenini commented on #88
@ericb @Fuiste we have tried updating to the latest plugin `version (0.6.3)` but it doesn't worked out. Any ideas?

[2016-09-05 17:59] MarwaAbuEssa commented on #67
@Fuiste  unfortunately Issue still exists :(

[2016-09-06 15:27] ericb commented on #88
@santiagobenini @gbelmm If possible, can you attempt creating a brand new app and setting up deploy to see if the issue can be replicated. We can't seem to replicate on our end.

[2016-09-07 19:29] shahin8r commented on #77
Experiencing same problem here.

[2016-09-08 02:27] sergioaok commented on #67
I'm also having this issue. Is there any way to fix ? Or a workaround?

[2016-09-08 21:24] Fuiste commented on #67
Hey guys, just a quick update that I was able to reproduce the issue on my end.

I've pushed a new version of the plugin to fix this, `0.6.4`

[2016-09-08 21:24] #67 closed

[2016-09-08 21:25] Fuiste commented on #77
Hey guys, just a heads up that I've released version `0.6.4` of the deploy plugin, along with my fix for this issue.

Give it a try and let me know if you have any issues!

[2016-09-08 21:25] #77 closed

[2016-09-15 13:26] HamzaLJ opened #89 "An error occurred uploading the build: The specific error message: Error: socket hang up"
There was an error trying to upload your app.
An error occurred uploading the build: The specific error message: Error: socket hang up

The specific error message: Error: socket hang up (CLI v2.0.0-beta.32)

Your system information:

Cordova CLI: 6.3.0
Ionic Framework Version: 2.0.0-beta.11
Ionic CLI Version: 2.0.0-beta.32
Ionic App Lib Version: 2.0.0-beta.18
ios-deploy version: 1.8.6
ios-sim vers

[2016-09-15 19:38] plnkr2015 opened #90 "IOS > app restarts when sidemenu button is clicked"
hi,

please help.
	here is what i am doing.
	i watch for new updates and download that but don't apply it on some conditions;
	but after the download, when i click ionic side menu, app restarts and changes are applied.

	any reason why app restarts when there is a change available to be applied?

	in Android, this is working fine; app does not restart when tapping the ionic side menu.
	and is work

[2016-09-19 08:42] REBOOTERS commented on #53
` webView.loadUrlIntoView(deploy_url, recreatePlugins);

    webView.clearHistory();`

add clearHistory()  ,the hardware back button will work

[2016-09-20 21:00] keithdmoore commented on #89
Was this for iOS or Android?

[2016-09-20 21:05] keithdmoore opened #91 "[Android][bug] deploy.load causes issues by recreating plugins on restart"
As an example, when deploy.load restarts my app I am unable to get a connection from the sqlite connection pool.  App goes into an infinite loop due to this.

Tested on multiple Android devices.  For example, Samsung S5 with Android 6.0.1

Cordova CLI: 6.3.1
Gulp version:  CLI version 3.9.1
Gulp local:   Local version 3.9.1
Ionic Framework Version: 2.0.0-beta.10
Ionic CLI Version: 2.0.0
Ionic App

[2016-09-22 13:31] ipridham opened #93 "$ionicDeploy.load() not always firing"
Plugins are as follow:

`com.bunkerpalace.cordova.YoutubeVideoPlayer 1.0.1 "CordovaYoutubeVideoPlayer"
com.telerik.plugins.healthkit 0.5.1 "HealthKit"
cordova-labs-local-webserver 2.4.0 "CordovaLocalWebServer"
cordova-labs-wkwebview-engine-localhost 0.5.0 "Cordova WKWebView Engine with http server (localhost) support"
cordova-plugin-compat 1.0.0 "Compat"
cordova-plugin-console 1.0.3 "Console"
cord

[2016-09-22 14:25] ipridham commented on #93
Seems to be related to WKWebView / localhost  as removing those plugins resolves issue, my updated plugins list:

com.bunkerpalace.cordova.YoutubeVideoPlayer 1.0.1 "CordovaYoutubeVideoPlayer"
com.telerik.plugins.healthkit 0.5.1 "HealthKit"
cordova-plugin-console 1.0.3 "Console"
cordova-plugin-device 1.1.2 "Device"
cordova-plugin-inappbrowser 1.5.1-dev "InAppBrowser"
cordova-plugin-network-informat

[2016-10-04 10:17] thoems opened #94 "App update via deploy not persisting"
On iOS (Android is working smoothly) when updating the app via the deploy service at first the app is correctly updated, but after restarting the app for two or three times it reverts to the initially installed version from the AppStore.

This seems to be a regression, an issue already dealt with and fixed in earlier releases:
https://github.com/driftyco/ionic-plugin-deploy/issues/60

iOS Version:

[2016-10-04 11:02] meinbrodt commented on #46
+1

Can you already say if or when this will be implementend?

[2016-10-04 11:12] meinbrodt opened #95 "Feature request: fixed set of mandatory metadata fields for deployed version"
Hello,

I implemented Ionic deploy in a Ionic v1.3 App I'm working on and (so far) everything works great.

In my implementation I decided to display some information about the update to the user before he/she can decide to install it.

The information is stored in three metadata fields (version, date, description) which I add to each version I want to deploy.

This approach, however, is very erro

[2016-10-04 15:00] thoems commented on #94
Tried version ionic-plugin-deploy 0.5.7 - no luck either.

[2016-10-06 16:42] tyvdh opened #96 "Failed to load resource: The operation couldn’t be completed. (kCFErrorDomainCFNetwork error 1.)"
`$ionicDeploy.load();` triggers a "Failed to load resource: The operation couldn’t be completed. (kCFErrorDomainCFNetwork error 1.)" error. Fixed when I remove the `cordova-plugin-wkwebview-engine` plugin.

[2016-10-06 20:35] Fuiste commented on #94
I've just published version `0.6.5` of the plugin to address this issue.  Let me know if you have any trouble.

[2016-10-06 20:35] #94 closed

[2016-10-06 20:36] Fuiste commented on #53
I've just published version `0.6.5` of the plugin which addresses this issue.  Let me know if you have any trouble.

[2016-10-06 20:36] #53 closed

[2016-10-07 13:49] Fuiste commented on #91
Fixed in PR #91, thanks for the submission!

[2016-10-07 13:49] #91 closed

[2016-10-08 11:36] antonyfrance commented on #29
Yes

[2016-10-08 12:24] thoems commented on #94
I can verify that it works perfectly now. Thank you and a thumbs up for the ionic deploy feature in general.

[2016-10-11 12:34] jay8585 opened #97 "deploy_uuid returned from $ionicDeploy.info() needs some fix, and suggestion for deployment rollback function"
Hello, I've just installed [Ionic Cloud] service on my app and I'm really enjoying it :D
I'm interested in Ionic's Deploy System. While I'm digging into the System, I got some question and suggestion about $ionicDeploy.

[Question1]
I thought $ionicDeploy.info() should return current deploy_uuid. (even if there is no deploy downloaded on my app)
When I run the function for the first time, I found

[2016-10-11 13:02] ericb commented on #97
Hi @jay8585,

Thanks for the comments and suggestions. These are good suggestions and we've had some of these thought as well. @Fuiste would really love to update the current interface (methods) of deploy, and so he likely has thoughts on this too.

Currently `info` is intended to be info about the local deploy, which is why you see 'NO DEPLOY AVAILABLE' before a deploy has been updated, but I bel

[2016-10-12 01:09] jay8585 commented on #97
Thanks @ericb
I'll look forward to Ionic Team's work on rollback function :D

[2016-10-14 07:37] kleeb commented on #86
looks like its not fixed

[2016-10-14 07:43] kleeb opened #98 "Reloading the update using deploy.load() does not work on iOS."
Testing deploy on Ionic2 RC0 with https://github.com/driftyco/cordova-plugin-wkwebview-engine.git plugin.

App does not get reloaded after update. After restart new version is there.

Looks like the problem was closed here, but still appears: https://github.com/driftyco/ionic-plugin-deploy/issues/86

Tested on simple cutePuppyPics startup template with this code:

[code]

Tried on iPhone5 (iOS9) a

[2016-10-14 14:01] Fuiste commented on #86
@kleeb can you provide a reproduction case?  It appears to be working as expected on my end.

[2016-10-16 12:01] numerized commented on #98
https://github.com/driftyco/ionic-plugin-deploy/issues/96

[2016-10-16 12:19] numerized commented on #96
Hi guys,

same here.
Failed to load resource: The operation couldn’t be completed. (kCFErrorDomainCFNetwork error 1.)

basically it happens when I try to reboot the app after downloading the last deploy.

I tried :
```location.reload();```
and
```document.location.href = 'index.html'```

[2016-10-16 17:28] kleeb commented on #96
+1

[2016-10-18 07:45] macchie commented on #96
+1

[2016-10-18 10:19] numerized commented on #96
I've found a workaround but I can't use it it breaks a firebase subscribe auth method.

With this one is working well :
https://github.com/apache/cordova-plugins/tree/master/wkwebview-engine-localhost

[2016-10-18 10:21] kleeb commented on #96
@numerized what kind of auth method are you using that breaks in firebase?

[2016-10-19 16:33] numerized commented on #96
@kleeb, yes and facebook native through cordova-plugin-facebook4

[2016-10-19 16:33] numerized commented on #96
actually it doesn't break the auth, but the auth on reloading apps

[2016-10-22 12:44] numerized commented on #98
Hi guys

Facing the same problem, any news ?

[2016-10-22 12:45] numerized commented on #86
This issue appears with wkwebview from ionic team.

[2016-10-22 12:46] numerized commented on #98
This issue appears with wkwebview from ionic team.

[2016-10-24 18:14] ericb commented on #98
Hey all,

Just wanted to drop in and say that using wkwebview will not be supported for Deploy until wkwebview see's an official release. We will definitely be making any changes necessary when that happens.

I will open up an issue to track the support for this and link it here.

[2016-10-24 18:14] #98 closed

[2016-10-24 18:17] ericb opened #99 "wkwebview support"
Hey everyone,

I've opened this issue so consolidate some of the other issues that have been cropping up here. To be clear, we do not officially support Deploy with wkwebview as it has not seen an official release yet.

Referencing this ticket will help us track potential fixes we need to make upon release as well as any other useful information / suggestions people have for that time.

Thanks! 👍

[2016-10-24 18:17] ericb commented on #98
Check out issue #99 to see more information.

[2016-10-24 18:18] ericb commented on #86
related #99

[2016-10-24 18:28] ericb commented on #96
please see #99

[2016-10-25 10:23] numerized commented on #99
Ok that's a good thing to know.
The only problem is not the actual download and install of the deploy updates but the restart of the view.

I was not able to find a way to restart the view wkwebview myself.
I tried bunch of different techniques and they all fail.

If anyone has a great technique I'll be happy to hear it.

[2016-10-30 07:16] plnkr2015 commented on #90
any progress on this issue please?

[2016-11-02 17:23] deliverymanager opened #100 "After downloading update how can I delete the previous installed version on the phone to save storage?"
After update I can see the app data in the phone increase by 22MB.
This is almost the size of my app and I believe this happens due to the fact that the apps internally holds the zip of the app.
If I make another update then the data increases even more!
So every time I make an app update, the data that the phone holds increases by 22MB.
So the question is how can the app delete any previously ins

[2016-11-03 07:26] deliverymanager commented on #100
I have found the answer to the Ionic Cloud Docs.
$ionicDeploy.getSnapshots().then(function(snapshots) {
  // snapshots will be an array of snapshot uuids
});
$ionicDeploy.deleteSnapshot('366f119a-4d3b-46fd-b1be-1def98812344');

[2016-11-03 07:29] #100 closed

[2016-11-07 07:52] wattamoves00 opened #101 "ionic Deploy Adding new plugin."
i publish my app on play store but i want to add new plugin when i ionic upload only text and content changing how to add the plugin so that is gonna work my project.

[2016-11-07 14:45] raykin opened #102 "can ionic upload show the uuid"
Can ionic upload show the uploaded uuid string by options? I searched but not found yet.

[2016-11-08 10:22] wattamoves00 opened #103 "1"

[2016-11-08 10:23] wattamoves00 commented on #103
only white screen the death :( help me thanks..

[2016-11-08 17:42] kodeine opened #104 "Using @Inject"
Hello,
I'm trying to inject it dynamically. i've put

`{ provide: 'Deploy', useClass: Deploy, deps: [CloudConfig, EventEmitter, Logger] },`

in providers but it doesnt work. can you please help how can i properly inject?

Thanks

[2016-11-14 10:27] phonic commented on #13
Same problem here! Ionic deploy isn't working when cordova-plugin-zip is also used within the app.

I've made an gulp task (with the [npm xcode](https://www.npmjs.com/package/xcode)) to clean up the duplicated xcodeproj-references. The app is running fine on newer ios devices, but unfortunately it does not, when running on older devices like ipad 3, iphone 5 etc - I get no callback from ionic.extr

[2016-11-17 06:14] gladiacxtylish opened #105 "App store version compare ionic deploy version"
This is the flow I have currently.

1. Installed 1.0.0 from app store
2. Pushed 1.1.0 to ionic deploy
3. App detected there is an update from ionic deploy, installed it
4. Published 1.2.0 to app store without pushing to ionic deploy
5. App detected there is an update from ionic deploy, installed it (problem)

My question is that isn't ionic deploy supposed to know 1.2.0 is newer and skip the versi

[2016-11-17 07:44] #103 closed

[2016-11-17 07:45] #101 closed

[2016-11-20 23:13] itrethan commented on #105
The current version comparison is confusing, do we have a deterministic way to figure out the which version is the newer?

[2016-11-21 12:16] dhyegofernando opened #106 "Deploy error"
I made everything like you said in docs but after load() it shows me the following error:
[code]

And the app just get crushed. What it could be?

[2016-11-22 15:47] ericb commented on #104
Is there a reason you're not using the standard cloud client [setup](http://docs.ionic.io/setup.html)? I'm not even sure we can support this, but @dwieeb may be able to add more context.

[2016-11-22 15:47] #104 closed

[2016-11-22 15:49] ericb commented on #105
Is this using the latest version of the plugin?

[2016-11-22 16:19] ericb opened #107 "Cocoapod support"
To avoid lib conflicts, we need to switch the plugin to use cocoapods support.

[2016-11-22 16:19] ericb commented on #13
Hey everyone, this is been a long-outstanding issue that we can finally do something about with the latest cordova release (cocoapods support, yay! 👍). I've just started a new issue #107 please follow that for updates.

[2016-11-22 16:19] #13 closed

[2016-11-22 16:21] dwieeb commented on #104
Using the `CloudModule.forRoot(cloudSettings)` is the key here. That single line defines how to inject our classes.

[2016-11-22 17:08] kodeine commented on #104
i was trying to move the updater code to a different class and call the object in app.component.ts, when i move to another class i need to inject Deploy in constructor?

[2016-11-22 17:24] ericb commented on #102
I'm not sure I understand. Are you saying you'd like to see the uuid of the snapshot from the CLI after you run `ionic upload` ?

[2016-11-22 17:25] ericb commented on #90
@plnkr2015 Could you provide code snippets? This sounds like an issue with your app code more than the plugin itself.

[2016-11-23 01:47] raykin commented on #102
@ericb yes, that's what exactly I want
because  it's pretty slow to access the apps.ionic.io to check it, so it would be great to see it from command line

[2016-11-24 02:29] jay8585 commented on #105
I had same problem before.
But I fixed it by putting Equivalent Version on deploy info.
![image](https://cloud.githubusercontent.com/assets/8064923/20584764/3318a77a-b239-11e6-8446-114b5670bc05.png)

[2016-11-25 14:15] AgDude opened #108 "Include some basic info in getMetaData"
The `getMetaData` method returns only explicitly set keys. It would be useful to include some basic information as well:

* binary version info (min, max, equivalent) for the current platform
* note
* release date

This is similar to #95, but it seems that kind of data should not need to be manually specified by the developer twice.

[2016-11-25 19:12] AgDude opened #109 "Feature request: get uuid of pending deploy"
I can use the "info" method to get the current deployment, but I would like to get information about the snapshot I just downloaded before I extra/load it. while this may or may not be useful within the app, I would like to send it to a remote logging service, so I have something like this:

[code]

[2016-11-25 19:44] AgDude commented on #97
Along the lines of question 1, it would be nice to have a more streamlined way to avoid installing a deploy immediately after a binary update or new install. I know this can be accomplished with the "max version", but  that means setting the max version on every snapshot. It would be nice to be able to embed a "min version" into the binary, that tells ionic-deploy not to take any snapshots prior t

[2016-11-27 19:57] dwieeb commented on #104
Yes, that's what you'll need to do in Angular for all injected services. See the [dependency injection docs](https://angular.io/docs/ts/latest/guide/dependency-injection.html).

[2016-11-29 05:53] #105 closed

[2016-11-30 05:09] jmordica commented on #99
I tried a few techniques myself without success. Hopefully an official release of wkwebview is coming soon 👍

[2016-12-02 17:24] ericb commented on #102
The upload and snapshot creation are somewhat separated at the moment, but I think there is a use-case here to include snapshot listing in the CLI. That should solve the issue of speed (time to get the uuid for context) and also provide a utility for snapshots in general.

[2016-12-02 17:29] ericb commented on #97
Great suggestion @AgDude, this is actually the intended functionality for the "equivalent version", but I think it probably makes more sense to include that as part of the app code itself so that it can be done pre-deployment, and therefore could be auto configured by your own build process as well.

[2016-12-02 19:50] ericb commented on #109
While maybe not the best interface as-is, this can be done using a combination of the `check` and `getMetadata` methods shown [here](http://docs.ionic.io/services/deploy/#metadata).

[2016-12-02 19:50] #109 closed

[2016-12-02 19:54] ericb commented on #108
I agree that there should be a better way to gather more technical details of the deploys using the cloud client. This is all information offered via the API but it's not exactly useful in that context given you want to know this information inside the application.

I don't think it necessarily belongs with getMetadata, but there should be some way to get API level details (non-private details any

[2016-12-04 09:53] thiboot opened #110 "Windows Support"
Hello,
Amazing feature !
Could you consider carrying this on Windows 10 platform ?

[2016-12-05 15:24] ericb commented on #110
It's definitely been discussed, but this is not in active development. I'll keep this ticket around for future reference.

[2016-12-08 17:08] thiboot commented on #110
Ok, thanks :-)

[2016-12-13 19:16] soniyj opened #111 "$ionicDeploy cordova not loaded on Android"
Hello All,

For some reasons after an update the window.cordova it's undefined and the ionic.Platform webview it's false, so also if the platform recognises Android, cordova it's not loaded.
This happens only with Android, on iOS everything works perfectly.

Any clue? Thanks

[2016-12-14 14:53] kleeb commented on #99
Any news?

[2016-12-14 15:48] ericb commented on #99
@kleeb We will be taking a look at this sometime in the next week or two. Depending on how much needs to be handled, it could see support earlier rather than later, but that remains to be seen.

[2016-12-22 16:47] Clemouuche opened #112 "Whitescreen during the deploy.load()"
Hello,

all the deploy functions work fine but it's a bit confusing to have a whitescreen during the app relaunching. Is there a way to avoid that ?

Here is my code

`this.deploy.check().then((snapAvailable: boolean) => {
     if (snapAvailable && (Network.connection !== 'cellular' || Network.connection !== '2g')) {
       this.deploy.download().then(() => {
         this.deploy.extract().then(()

[2016-12-25 10:42] tobiasmuecksch commented on #86
@kleeb Please reopen the issue. It definitely is not fixed!

[2017-01-10 07:56] MissCuriosity commented on #112
May i ask whether you have solved this problem?

[2017-01-10 11:57] kleeb commented on #99
@ericb
anything that is worth sharing?

[2017-01-11 19:33] bmbraga opened #113 "Uncaught Error: Cannot find module"
I'm getting this error below, but the ts are correct, I've checked several times. What could be wrong?

Uncaught Error: Cannot find module "../pages/itens/itens"
at Object. (main.js:52965)
at webpack_require (main.js:20)
at Object. (main.js:53139)
at webpack_require (main.js:20)
at Object. (main.js:93815)
at webpack_require (main.js:20)
at Object. (main.js:82561)
at webpack_require (main.js:20)
at

[2017-01-12 17:13] tlancina opened #114 "Unable to check for updates should error"
https://github.com/driftyco/ionic-plugin-deploy/blob/ed4532335a93c28b90841f460e18af5fd41129e3/src/ios/IonicDeploy.m#L246

[2017-01-13 15:28] netsesame2 commented on #45
Yes, it is a clear mistake in the code. So strange is it exist there for a long time.

[2017-02-02 17:46] ciesielskico commented on #99
Any news? Im using @ionic/cloud-angular and getting the error after extraction and reloading:

`[Error] Failed to load resource: The operation couldn’t be completed. (kCFErrorDomainCFNetwork error 1.)`

Reloading manually works tho.

[2017-02-02 17:47] ciesielskico commented on #96
@numerized Please share your workaround

[2017-02-12 08:18] numerized commented on #96
@ciesielskico you use this wkwebview

With this one is working well :
https://github.com/apache/cordova-plugins/tree/master/wkwebview-engine-localhost

And you use one of these two reload technique, I don't remember the one that is passing.

[code]

[2017-02-15 01:05] atsepkov opened #115 "Possible to use without being tied to Ionic Cloud?"
Hi guys, thank you for writing the plugin. From playing with it and other Ionic-deploy related repositories I found, it seems like in order to use the service I'd need to deploy through apps.ionic.io directly? Is there a way to deploy from my local server instead?

[2017-02-27 21:06] kodeine commented on #112
same here

[2017-02-28 16:20] ericb commented on #112
I believe this is just due to the webview hard refreshing. You could attempt to show the splash screen before you call load or alternatively notify the user that updates will be applied when they next open the app.

[2017-02-28 16:20] #112 closed

[2017-03-02 17:41] parkerloren opened #116 "iOS packaging fails"
I am trying to package my app for iOS using ionic cloud.
We have been using ionic cloud for several months without issue to build our app.
The build works for Android and the application works as expected. However when I run it for iOS the package/build process fails. We have tried numerous times without success.

The iOS package/build has worked successfully until just yesterday. We have had no s

[2017-03-02 21:48] #116 closed

[2017-03-09 09:02] RafaelKr opened #117 "iOS crash when deploy.getMetaData('NO_DEPLOY_LABEL')"
I was using this function:
[code]

which is working on Android, but when I tried it on iOS, the app was crashing when this function was called.

I found out, that `info.deploy_uuid` was set to `'NO_DEPLOY_LABEL'`. I also tested it with an empty string, then it didn't crash. So when the parameter passed to `deploy.getMetadata()` is `'NO_DEPLOY_LABEL'`, then the iOS app is crashing.

[2017-03-09 11:44] obkdev opened #118 "Android Storage Permissions - WSOD"
On android, if the storage permission is disabled. The deploy will download and extract the update, but then when restarting, a white screen is shown.

To fix this, re-enabling the storage permission causes the app to normally again.

Perhaps the plugin should check for storage permission before allowing an update to be installed.

[2017-03-09 11:51] obkdev commented on #115
There is a serverUrl parameter in the init method. But no idea how you should preset the new app version sever-side.

https://github.com/driftyco/ionic-plugin-deploy#init-appid-string-serverurl-string

[2017-03-16 01:48] jacksonkr opened #119 "How do I find out the valid serverUrl for my ionic app?"
I have an app uploaded to ionic but I have no way to download it without a valid serverUrl. I keep getting "download error".

How do I find out the valid serverUrl for my app?

[2017-03-16 03:27] jacksonkr commented on #115
@obkdev Do we even know what the serverUrl string expects? Is it the location to a script, a zip, other?

[2017-04-06 08:08] obkdev opened #120 "Blank Screen"
When installing an update via Ionic Deploy. The screen on both Android and iOS is blank white for a period of time.

Is there a way to display something on the screen at this time? as users seem to think that the app has crashed.

[2017-04-22 19:31] joshgarwood commented on #120
you can show the Splash screen during this time using the splash screen plugin and Splashscreen.show()..... just make sure you call Splashscreen.hide() somewhere in your app startup code

[2017-04-26 20:11] raphagodoi opened #121 "Error only on iOS"
Ionic Version 1.3.1
ionc cloud Version 0.16.0
iOS 10.3.1

My Code
[code]

The error
[code]

On Android everything works fine.

[2017-04-27 19:30] tumbl3w33d opened #122 "Deploy fails during extraction"
**Versions**
[code]

[package.json](https://gist.github.com/tumbl3w33d/34f405470bb4f734e805bf3c495f0933)

**Steps to reproduce:**
1. `ionic cordova build android`
2. `ionic upload`
3. deploy the uploaded snapshot to the dev channel
4. execute typical check -> download -> extract -> reload procedure in app
[code]

**Expected results:**
Latest snapshot is loaded and running in the app now.

**Actual

[2017-04-29 16:41] emcniece opened #123 "`getSnapshots()` always returns empty array"
As per the title, my attempts to get a UUID list always returns an empty array.

I have followed http://docs.ionic.io/services/deploy/ for setup, and all of my channels in https://apps.ionic.io/app/123456/deploy have multiple uploads.

Running with `ionic run android -lcs`:

[code]

`snapshots` is always `[]`. `this.deploy.check().then((snapshotAvailable: boolean)` does result in `snapshotAvailabl

[2017-04-30 19:23] tumbl3w33d commented on #123
`getSnapshots()` lists locally installed snapshots, not those available in the cloud. It's initially empty, after you installed the app (e.g. via `ionic run`, using adb install,...). After you executed a deploy process (i.e., extracted a downloaded snapshot), this list is not empty anymore.

[2017-05-01 02:50] emcniece commented on #123
@tumbl3w33d aha, thank you - that makes sense.

[2017-05-01 02:50] #123 closed

[2017-05-02 05:56] snehasis commented on #110
Any update on this Windows Support , as its been a long time now , did the development started now ?

[2017-05-02 05:57] snehasis commented on #113
Please make sure you have a Module on this Location
Cannot find module "../pages/itens/itens"

[2017-05-03 08:27] panoti commented on #122
I catched "/assets/fonts: open failed: ENOTDIR (Not a directory)" the same. I created "fonts" folder but not solved this problems.

[2017-05-05 00:28] demirk4n commented on #122
Same issue for "/assets/icon" folder.

[2017-05-05 10:47] FreshD91 commented on #107
@ericb  Will this be implemented in the near future or is there a temporary workaround that i can use to avoid these conflicts ?
Because i need to use the deploy plugin together with the "cordova-plugin-zip"-plugin.
Thanks in advance!

[2017-05-07 07:58] falanso opened #124 "cordova.js not loaded after $ionicDeploy.load() on iOS - only using UIWebView"
I'm facing a problem, with $ionicDeploy.load() on iOS only,

on the first install if there is no update the app is working great.

whenever I apply an update using the ionic.io platform, and after the .load() is called. the app restart/refresh, and it load the first page and stops.

in the console, I got cordova.js?cacheBuster=xxxxxx not found on this server...

note that i DO have a in my index.h

[2017-05-09 20:27] Fuiste commented on #122
Hey all,

Looks like this issue is tied to version 3.x.x of the CLI.  We're looking into the change to upload that caused it, but in the meantime you can get around the bug with 2.x.x version.

Sorry for the trouble there.

[2017-05-09 21:48] Fuiste commented on #122
Looks like I was incorrect in that first update.  I've found the bug in our handling of the zip file for the android platform and pushed an update.

Check out v0.6.7, which addresses this issue.

[2017-05-09 21:48] #122 closed

[2017-05-15 07:02] BSWG opened #125 "Versioning is not saving"
If I edit the versioning of an active deploy and press Save and reopen the dialog the versioning information is lost (max version). All versions of the app get the last active deploy, which is not preferable for the latest binary release.

[2017-05-17 14:19] piotrowski commented on #125
This is feedback for the app.ionic.io Deploy interface, right?

[2017-05-17 14:20] BSWG commented on #125
Yes. That is correct. But I couldn't find the place for that kind of feedback. I hoped the deploy developers for cli and the cloud service would be on the same team?

[2017-05-17 14:24] piotrowski commented on #125
They might - but I think a better location for that report might be here: https://ionic.zendesk.com/hc/en-us/requests/new?ticket_form_id=632048 (via http://ionicframework.com/support)

[2017-05-17 14:29] piotrowski commented on #124
How are you using the plugin - ionic-cloud (Ionic v1) or ionic-cloud-angular (Ionic 2+)?
Can you show us how you do all the Deploy stuff?
Does cordova.js actually not exist after the update or is it just a temporary problem?
Does the problem fix itself if you kill and restart the app?
Does the app recover in any way or is it just broken afterwards?

[2017-05-17 14:35] piotrowski commented on #121
Can you figure out which call on $ionicDeploy is triggering the error?
`update is true` is normally part of `check()` I think on iOS.
What value does `response` have?

[2017-05-17 14:43] piotrowski commented on #120
This can be closed.

[2017-05-17 14:44] piotrowski commented on #119
Where would you put this `serverUrl`?

Normally this Cordova plugin here is used via a library for Ionic:
https://github.com/driftyco/ionic-cloud for Ionic v1
https://github.com/driftyco/ionic-cloud-angular for all newer Ionic versions (2+)

[2017-05-17 14:45] piotrowski commented on #118
Do you know a Cordova plugin that does something similar than what you are suggesting? An example of this would make it much easier to create a PR for this functionality here in ionic-plugin-deploy.

[2017-05-17 14:58] piotrowski commented on #117
The code you pasted uses https://github.com/driftyco/ionic-cloud-angular, correct?
It tries to get the current Snapshot and sets `currentAppVersionNumber` to metadata.version (that you set in the UI) if one is available and to the current binary_version if not. Correct?

From looking at the code of the plugin `NO_DEPLOY_LABEL` is the value used to initialize the variable which should get overwritt

[2017-05-17 15:03] #119 closed

[2017-05-17 15:06] piotrowski commented on #115
`ionic-plugin-deploy` is bundled with Ionic Services quite closely. But of course we can investigate a bit:

https://github.com/driftyco/ionic-cloud/blob/master/src/deploy/deploy.ts#L70 is where the `init()` function from the `ionic-plugin-deploy` Cordova plugin is called. The api configuration value ultimately comes from here: https://github.com/driftyco/ionic-cloud/blob/master/src/config.ts#L17

[2017-05-17 15:07] piotrowski commented on #119
But I actually found out the value of `serverUrl` here: https://github.com/driftyco/ionic-plugin-deploy/issues/115#issuecomment-302120230

[2017-05-17 15:08] piotrowski commented on #113
This is unrelated to `ionic-plugin-deploy` and should be closed.
If you didn't solve the error yet, check out the Ionic Forum at https://forum.ionicframework.com/

[2017-05-17 15:09] piotrowski commented on #111
Can you provide your `ionic info` output and which library (ionic-cloud or ionic-cloud-angular) you are using, please?

[2017-05-17 15:21] piotrowski commented on #106
What docs are you referring to?
What library are you using and how exactly did you implement it?
Does anything else of Ionic Deploy work?

means that some task was "cancelled":

https://developer.apple.com/reference/foundation/1508628-url_loading_system_error_codes/nsurlerrorcancelled?language=objc

[2017-05-17 15:30] falanso commented on #124
hello,
sorry for not providing more info before.
i'm using ionic 1, with an old cli v2+ and node 4+ (environment  last updated ~1 year ago)
I tried to update all that, and it still didn't work. also the problem is now happening on android.
I update everything, my current setup is
global packages:

    @ionic/cli-utils : 1.0.0
    Cordova CLI      : 7.0.1
    Ionic CLI        : 3.0.0

local package

[2017-05-17 15:36] piotrowski commented on #124
Thanks for providing all that information.

I totally know these problems where something just doesn't work with Cordova, and then recreating the *identical* project it suddenly does. Most often it has to do with file permissions, some strange generated file or similar.

But the most important information was this:

So you are good now?

I don't agree - you can waste hours or days just to find out

[2017-05-17 15:43] falanso commented on #124
thanks for the assistance.
yes now it is working, i'm fine now.

I will close this now as you suggested and in case i had the time to investigate it I will re-comment it later here.

thanks, best

[2017-05-17 15:45] piotrowski commented on #97
Re your question #2 @darron1217: What exactly do you mean by "rollback"? If the new deploy really is broken-broken, there is no way to do anything anymore as the code that would call a rollback is... broken. Or am I missing something?

[2017-05-17 15:51] piotrowski commented on #95
This is more a feature request for apps.ionic.io, or would this also have implications for `ionic-plugin-deploy`?

I had similar wishes and wanted to implement it by using a script on the command line, unfortunately, the CLI doesn't support manipulating the metadata of an upload yet. I created https://github.com/driftyco/ionic-cli/issues/660 to fix this. There someone also posted his solution via

[2017-05-17 15:52] piotrowski commented on #93
Related to #99 then.

[2017-05-17 15:54] piotrowski commented on #89
This sounds more like a problem running `ionic upload` on the command line, correct @HamzaLJ?

[2017-05-17 15:57] piotrowski commented on #68
@korensiso Is this related to `ionic-plugin-deploy` in any way? Sounds more like a general Ionic problem. If so, you should look at the Ionic Forum at https://forum.ionicframework.com/ and close this issue here. Thanks.

[2017-05-17 16:11] piotrowski commented on #45
There was a change at this code a few days ago:

https://github.com/driftyco/ionic-plugin-deploy/commit/03330af1f5a080601fd6e324f796732fec2058d6#diff-989d837c7890332b380d46fd2fa0f063

Now there is a check if the size is != 0 wrapped around the extraction logic. Does this also cover the issue you posted about last year? Or should your change still be added?

Note: The change would be adding
[code]

[2017-05-17 16:58] dhyegofernando commented on #106
@piotrowski but it's a long time ago... and I can't remember what this error was, but thank you anyway for your time! 👍 👍

[2017-05-17 16:58] #106 closed

[2017-05-17 22:23] #124 closed

[2017-05-19 04:58] darron1217 commented on #97
@piotrowski Hmm.. I used the word 'rollback' as a meaning of 'restore'.
The function that I needed was preventing app from being white screen when new deploy is broken.

[2017-05-19 10:32] piotrowski commented on #97
@darron1217 Ok, that would be nice if this was possible.

But how would the app trigger this `restore` function? If the JS app in Cordova whitescreens because of a bad deploy, then there is no way to click a button or do anything else.

[2017-05-19 14:43] darron1217 commented on #97
@piotrowski
Maybe we can utilize the error handler of webview.
Ex) onReceivedError() in android

I'm not familiar with native code.... so any help would be appreciated :)

[2017-05-19 15:15] piotrowski commented on #97
Something like that could probably work - but would require bigger changes on the native site that probably couldn't be done via Cordova plugins (remember, they are again triggered via Javascript code that wouldn't be able to run...).

Hm, maybe a JS side error handler that can trigger the plugin code to revert to the previous version?

[2017-05-19 23:58] nikmartin commented on #122
This is still happening for me after building with 0.6.7.  I deleted all the plugins, updated  package.json to install deploy plugin 0.6.7 then rebuilt the Android version. This downloaded all the plugins, and I verified that the deploy plugin had in fact updated. Extract still errors with the exact same message as​ above.

[2017-05-30 16:05] timbru31 commented on #99
I can contribute the following XCode log files:

[code]

[2017-05-30 17:35] timbru31 commented on #99
It seems to be an underlying bug in the cordova-plugin-wkwebview-engine (see ionic-team/cordova-plugin-wkwebview-engine#80)
The Ionic team forked it and made some new commits ahead of the Apache origin.

I've went ahead and installed their dev version from git:
`cordova plugin add https://github.com/ionic-team/cordova-plugin-wkwebview-engine.git`

and the reload **works**

Hope to help some folks

[2017-06-01 11:18] yunho2141 commented on #122
I also have same problem.

global packages:

    @ionic/cli-utils : 1.3.0
    Cordova CLI      : 7.0.1
    Ionic CLI        : 3.3.0

local packages:

    @ionic/cli-plugin-cordova : 1.3.0
    @ionic/cli-plugin-ionic1  : 1.3.0
    Cordova Platforms         : android 6.2.3 ios 4.4.0
    Ionic Framework           : unknown

System:

    Node       : v7.10.0
    OS         : macOS Sierra
    Xcode

[2017-06-01 11:32] tumbl3w33d commented on #122
@Fuiste I guess it's worth reopening this, as there are a few confirmations here already that your change didn't solve the issue, unfortunately.

[2017-06-10 16:55] niallr12 commented on #122
I am also experiencing the same problem.

[2017-06-12 07:27] royyau41 opened #128 "plugin add is error"
When I enter "cordova plugin add ionic-plugin-deploy --save"
It exist an error "Error: Unexpected token < in Json at position 1808"

How can I solve it

[2017-06-12 10:47] ashishtilara commented on #122
+1

[2017-06-12 14:07] nikmartin commented on #122
FYI I was able to get this working by removing the platform, deleting the platforms directory, then adding them back and building.

[2017-06-26 14:55] nikmartin commented on #100
In case anyone else is looking to do this, you have no make sure you don't  delete your current snapshot:

[code]

[2017-07-04 19:08] manzapanza opened #129 "cordova.js not found after update"
I'm trying implementing Ionic Deploy with ionic v1 (v1.3.1), but when the app loads a downloaded and extracted update, the app crashes. Debugging remotely the app, I see that, after the update, the console shows this error:
[code]
Using an absolute url to referencing the cordova.js file I was able to see it working on Android, but I think that this is not the right way, specially because on iOS th

[2017-07-10 17:52] manzapanza commented on #129
I solved the problem. The problem was due to my custom gulp build script, that was minifying the index.html removing attribute quotes and collapsing white spaces:

[code]
Without the quotes, the plugin, change the url putting a wrong one. I tested it only on android.

[2017-07-10 18:12] #129 closed

[2017-07-12 20:48] tumbl3w33d opened #130 "Failure during extraction (still...)"
~2.5 months ago I opened #122 which was closed after an assumed fix. Unfortunately, this fix didn't change anything about the issue. Also the workaround mentioned there (removing and adding platforms) doesn't fix the issue. I asked to reopen the other issue, but it seems like no one pays attention to the closed ones so I open this one here to make you look at the problem again. Please reopen #122

[2017-07-20 14:44] digaus opened #131 "Can't resolve all parameters for Deploy: (?, ?)."
Always getting this error when trying to build :/

[2017-07-21 08:36] #131 closed

[2017-07-21 08:37] digaus commented on #110
Yes that would be awesome... Since windows is officially supported by Ionic one should also be able to update the app just like on iOS and Android

[2017-07-23 21:14] ztecharoberts commented on #122
This is still an issue for me.

i get this error

cd: /data/user/0/com/app_c5f63b77-a7eb-40a5-8794-70bc40c39ff5/assets: Not a directory

[2017-07-23 22:37] ztecharoberts commented on #122
Can someone check my pull request and make sure it works for others? I just tested locally on my own app and it seems to work.

[2017-07-24 10:36] 5731067221-NN opened #133 "Ionic deploy: plugins is missing after update app."
I try to update app by using ionic deploy plugin.
The app can update and look fine but the app didn't come with plugin that I has installed in project such as cordova-plugin-device,cordova-plugin-android-permission,cordova-plugin-barcodescanner, ionic-plugin-keyboard ,etc.

this is my code:
`    $ionicDeploy.channel = 'dev';

        //----------------------------------------Check for updates

[2017-07-27 15:40] ztecharoberts commented on #130
@tumbl3w33d can you check with my pull request if this fixes the issue for you?

https://github.com/ionic-team/ionic-plugin-deploy/pull/132

[2017-07-28 14:39] betatools commented on #122
I get the same error. Removing the platform and adding it again didn't fix it.

cli packages:

    @ionic/cli-plugin-cordova       : 1.5.0 (/Users/jakob/Code/equipo/app/node_modules/@ionic/cli-plugin-cordova)
    @ionic/cli-plugin-ionic-angular : 1.4.0 (/Users/jakob/Code/equipo/app/node_modules/@ionic/cli-plugin-ionic-angular)
    @ionic/cli-utils                : 1.6.0 (/Users/jakob/Code/equipo/a

[2017-08-09 13:52] mochtu commented on #133
+1

Same for me. But it complains that the ionic-deploy module does not exist.

[code]

[2017-08-14 21:19] jeberhardt opened #134 "Determine size of the deploy snapshot."
I'd like to detect if the user has enough room on their phone to download and install the new deploy snapshot.

I know that I can use the File plugin to get the amount of space available on the phone.

What I don't know is how to determine how big the download file will be. Also, I believe that the snapshot itself is a ZIP file, and then it will be unzipped, taking up more space.

So how do I calc

[2017-08-16 09:52] viveksinha121 opened #135 "iOS app is crashing due to NSInvalidArgumentException in deploy plugin"
I have integrated deploy in my ionic 3 app. It is working fine in android but in iOS it sometimes crashes with following error logs recorded at crashlytics:
![screen shot 2017-08-11 at 5 22 36 pm](https://user-images.githubusercontent.com/11805204/29238511-bee682ac-7f54-11e7-88fe-0476b0eb52a6.png)

[2017-08-17 12:50] mochtu opened #136 ""Deploy plugin is not installed or has not loaded" after extracting snapshot"
Hello deployers,

for some reason, during our deploy process (deploy.extract() and then deploy.load()), the iOS app reloads, but fails midway with the "Deploy plugin is not installed or has not loaded" error. After killing the app and restarting it, everything is fine and the new snapshot is loaded.

Funny thing is, it worked like a charm until recently. I can't really tell when it broke unfortuna

[2017-08-18 09:01] mochtu commented on #136
I found out why the reload failed. We had the
`<script src="cordova.js"></script>`
in the `<body>` cause it was suggest so in some recent release notes, if I remember correctly. But the script tag has to be in the `<header>` for the reload to work correctly.

[2017-08-18 09:01] #136 closed

[2017-08-18 13:26] martinchamrad commented on #122
Hi, getting the same error after upgrading to CLI 3.8.x
Unzip error /data/data/com.tribelabs.tribe/app_4672b50e-a490-4ac5-a8c3-ab8cee536a7c/css/awlert.css: open failed: ENOTDIR (Not a directory)

What to do? Thx

[2017-08-24 08:01] shankari opened #137 "Deploy channel ignored after native-only change"
This is a 100% reproducible issue.

Steps to reproduce:
- Run any ionic app that includes `ionic deploy`. The UI is now `ui_1`
- Update the UI by setting to a non-production channel. The UI is now `ui_2`
- Rebuild the app with no changes. You can change the version number, but you don't need to
- Re-run the app
- The original ui `ui_1` is restored, although the channel is still set to the non-prod

[2017-08-24 13:56] shankari commented on #137
After much investigation (see https://github.com/e-mission/cordova-connection-settings/issues/9#issuecomment-324225362 to https://github.com/e-mission/cordova-connection-settings/issues/9#issuecomment-324558149), this appears to be intentional.

In particular, the reason appears to be the `initVersionChecks` function.

[code]

When the versions change, `if(!this.version_label.equals(ionicdeploy_ve

[2017-08-24 13:59] shankari commented on #137
`initVersionChecks` was added by https://github.com/ionic-team/ionic-plugin-deploy/commit/5e001c7c58aa5646fe9808154f65daaeb5c1a70f, part of https://github.com/ionic-team/ionic-plugin-deploy/pull/17

Neither of those has any documentation on why this was the desired behaviour.
Why is this needed?

[2017-08-24 15:04] shankari commented on #137
FYI: workaround to deploy a UI update for every native code update appears to work (https://github.com/e-mission/cordova-connection-settings/issues/9#issuecomment-324662111). But it is annoying because the update is not really required and it is another step that has to dbe done for every release.

[2017-08-24 18:37] reggiejr commented on #122
I get different error messages at different times. Tried remove/add platform but it did not help. Using "ionic-plugin-deploy": "^0.6.7"

Error extracting update: /data/user/0/[APP_NAME]/app_fd3a6f14-e45d-4f6a-bc0c-7d4ee03d457e/**assets/data**: open failed: ENOTDIR (Not a directory)

Error extracting update: /data/user/0/[APP_NAME/app_2f52d3b5-d7aa-46fa-8d8c-3b3683099693/**build/0.js**: open failed

[2017-08-25 07:56] HugoHeneault commented on #107
I'm facing the same issue with deploy. Any updates @ericb ?

[2017-08-29 01:05] PierBover commented on #96
I used the suggested plugin `wkwebview-engine-localhost` but it didn't work.

First the repo URL isn't right. This is the correct one: https://github.com/apache/cordova-plugins/tree/wkwebview-engine-localhost

Second I had to install some phonegap plugin which destroyed my build script.

Finally I got it running in a device and I got the error:
[code]

Desperately looking for a solution. When usin

[2017-08-30 12:16] viveksinha121 commented on #135
Can anyone help? There are more than 1200 crashes due to this issue in last one month.

[2017-08-30 18:52] HugoHeneault opened #138 "--prod not passed to npm run build on ionic run cordova --prod error"
I have an error caused by  `ionic cordova prepare` when pushing new code to Deploy.

So it's falling back to `npm run build`... but without the --prod flag. So aot is disabled.

Look at my logs:

[code]

[2017-09-05 03:17] Lingomat commented on #130
This issue has been a persistent problem for me. Platform re-adding does not fix.
@ztecharoberts PR **does** fix it. Curious the PR was closed by ztecharoberts.

For anyone else looking to hack deploy so it actually works, you'll need to either fork this and apply that PR and refer to your private repo, and then clear out the platforms to get rid of the cached source in Cordova.

Or... edit the sr

[2017-09-05 13:30] alberthoekstra commented on #130
It is also a problem for me. And I doubt if it's in the deploy plugin because I just tested this:

- Install Cordova CLI 7.0.1 and Ionic CLI 3.9.2 -> **Deploy doesn't work**
- Install Cordova CLI 7.0.1 and Ionic CLI 2.1.18 -> **Deploy does work!**
**In both test cases I haven't touched the deploy plugin**

[2017-09-05 13:36] ztecharoberts commented on #130
I ended up closing my pull because I magically had this start working for me. I am unsure why. If my pull request works for others I can re-add it.

[2017-09-05 15:13] dwieeb commented on #138
@HugoHeneault This Deploy plugin is for the old Ionic Cloud system. Sorry for the confusion! I updated the README.

As for your issue, can you confirm this is still a problem? I'm seeing the code and it doesn't run `ionic build` anymore. It _does_ run `npm run build`, so it'll use the `build` task in your `package.json`. I'll be adding an article to our Ionic Pro knowledgebase about this issue soo

[2017-09-05 15:17] HugoHeneault commented on #138
Yes it seems that it was fixed, we sent a build today and it didn't call `cordova --prepare` 🎉

Is there any Cloud Changelog somewhere?

Thanks!

[2017-09-05 15:17] #138 closed

[2017-09-05 15:19] HugoHeneault commented on #138
Could you make more clear where the new doc is on the readme? Now I can't find the new doc from the README, I'm even going to https://docs.ionic.io/services/deploy/ as there is a link just above the legacy notice...

[2017-09-05 15:30] dwieeb commented on #138
@HugoHeneault Noted. I made an issue in our backlog. 👍

[2017-09-07 01:31] Lingomat commented on #130
@alberthoekstra That doesn't mean there isn't something wrong with the deploy plugin.

Interestingly, yesterday the readme was tagged as 'legacy'. So I guess if you want a maintained deploy scheme you need to use Ionic Pro. Which is fair enough, but a bit of clarity wouldn't have hurt.

[2017-09-19 02:42] chrisdelambert commented on #137
I have the same problem - update ipa, snapshot that is only relevant for previous version is applied on first launch. Relaunch the app and that snapshot is ignored and all is as it should be. Did you figure this out without having to deploy an update for the new ipa version?

[2017-09-19 05:47] shankari commented on #137
No.

I am also not sure that you are seeing the same issue - my issue was:
- UI loaded from channel
- update ipa
- UI reverts to production

Does not go back to the channel UI even after relaunching the app multiple times.

[2017-09-19 05:56] media4learning opened #139 "Updated ipa loading previous version snapshot on first load"
I have an Ionic 3.x.x app.

I build an ipa v1.0.0
install v1.0.0 on device
make some changes in app
ionic upload
deploy upload for min and max version 1.0.0
download snapshot in app
make some more changes in code and publish new ipa v1.0.1
install ipa v1.0.1 on device - replacing v1.0.0
launch v 1.0.1 - snapshot from 1.0.0 is displayed in app.
Close app and relaunch - app displays correct content.

[2017-09-27 16:23] NickMele commented on #135
I am having this same exact problem and I cannot find a solution to prevent the crash. Seems like the best course of action is to get your users to update to a version that has resolved this crash.

[2017-10-16 02:45] media4learning commented on #135
They tried to fix this in the latest version of cordova-plugin-ionic. However now the plugin has even more problems. I would avoid using the pro backend for a few months until they can get it working properly. I have been trying to get a simple deploy working for weeks now and it's just a nightmare.

[2017-10-17 16:55] NickMele commented on #135
This whole platform has been a nightmare

[2017-10-17 20:20] deliverymanager commented on #135
I am a little bit confused.
It says in the description that this plugin is not for the PRO version.
Are you using the PRO backend or the LEGACY?

[2017-10-17 22:56] media4learning commented on #135
Hmm this issue has been fixed in cordova-plugin-ionic - for the pro dashboard. I think viveksinha121 has put this in the wrong repo.

[2017-10-18 05:34] viveksinha121 commented on #135
The problem was not with ionic. Actual problem was my old native app in which I was using uuid as a key for one NSUserDefaults. Then I moved to ionic & integrated ionic deploy plugin which is also using uuid for one NSUserDefaults. So when user upgrades from their native app to hybrid app, this uuid key created problem. I had to communicate this earlier. My bad.

[2017-10-18 05:35] #135 closed

[2017-10-19 14:47] manelalonso opened #140 "iOS - Can't build after installing ionic-deploy"
Once i install ionic-plugin-deploy and try to build i get the following error:

And then if i remove the plugin i can build again with no problems. Also i tried using `cordova clean ios` and removing and adding the platform again but with no success.

Thanks for your time.

[2017-10-19 20:11] mlynch commented on #135
Hi all,

It seems there's some conflicting information on the issue here. For those still seeing it beyond what @viveksinha121 reported, can you provide more information on the stacktrace or error you're seeing?

[2017-10-23 12:35] timbru31 opened #141 "Reload fails silently on Android (but with exception)"
The following error occurs when the update is correctly downloaded and extracted, but the redirect seems to be broken.

[code]
(or pastebin here: https://pastebin.com/fVbWuMF2)

Cordova v7.1.0 with Android v6.3.0.
The target device is running Android 7.0 (Samsung Galaxy Tab A 2016 [SM-T585])

[2017-10-23 12:38] timbru31 commented on #118
This might be related to my issue: #141 - I will debug further.

[2017-10-23 14:11] timbru31 commented on #141
The issue was on our end, a method called deploy.load() before the extraction Promise was resolved correctly.

[2017-10-23 14:11] #141 closed

[2017-11-01 16:37] troygilbert commented on #130
@alberthoekstra Rolling back to 2.1.18 worked for me as well.

[2017-11-02 18:27] kentoj opened #142 "Cannot find plugin.xml for plugin "zone.js". Please try adding it again."

[2017-11-02 18:29] kentoj opened #143 "Error `Cannot find plugin.xml for plugin "zone.js". Please try adding it again.` happens when adding plugin"
When adding the cordova-plugin-ionic plugin I get the following error:
[code]

This is on a slightly customized conference app template.

How do I resolve this?

[2017-11-06 09:46] joeldavuk commented on #140
Can you post your config.xml?

[2018-01-02 11:48] hiepxanh commented on #142
1) remove nodemodules folder, and reinstall
2) install latest ionic-app-scripts

that work for me

[2018-01-02 11:48] hiepxanh commented on #143
1) remove nodemodules folder, and reinstall
2) install latest ionic-app-scripts

that work for me

[2018-01-09 07:53] opiispanen commented on #122
Is there anything new regarding this problem?

I am experiencing this problem too after updating the CLI.

[2018-01-21 00:13] shankari commented on #137
This plugin is now obsolete.
Will be interesting to see if the behavior persists in the new plugin.

[2018-01-21 01:32] shankari commented on #137
Persists in the new plugin. Will refile against in and close this one.

[2018-01-22 05:16] shankari commented on #137
Persists in the new plugin. Will refile against it and close this one.

[2018-01-31 20:29] joshgarwood opened #144 "Graceful error handling when deploy is shutdown"
We are in the process of upgrading our app to use the new Ionic Pro deploy mechanism and removing the old Ionic Deploy. Unfortunately our app update hasn't been approved yet by the Apple store yet and are concerned about potential failures in our existing app.

I wanted to ask what behavior we can expect for users who still have the old version of our app (which uses the existing Deploy plugin) on

[2018-03-15 15:44] Fuiste commented on #130
Hey, we're going through a bunch of old issues and noticed this one is still open.

Can you confirm whether this persists in version 4.x.x of the plugin?  We've updated much of the redirect flow and it's likely this has been solved.